.header-md::after {
    background-image: none;
}

.bordernon {
    border: none;
}

.back {
    position: absolute;
    z-index: 100;
    left: 5px;
    top: 5px;
    font-size: 15px;
}

.bgL {
    background-color: var(--ion-color-primary-contrast);
}

ion-item {
    --border-color: var(--ion-color-primary);
}

ion-card{
    margin-left:0px !important;
    margin-right:0px !important
}

.iteml {
    --border-color: var(--ion-color-light);
}

.redItem {
    --border-color: var(--ion-color-danger);
    --color-activated: var(--ion-color-danger);
    --color-focused: var(--ion-color-danger);
}

.bgLO {
    background-color: rgba(102, 51, 153, 0)
}

.custH {
    border-bottom-style: solid;
    padding: 10px;
    width: 120px;
    text-align: left;
}

.custGrid {
    position: relative;
    top: -150px;
}

.footer-md::before {
    background-image: none;
}

.borderNone {
    border-radius: 0px;
}

.padd13 {
    padding-top: 13%
}

.padd1 {
    padding: 1%;
}

.logoSvg {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

.invalid-item {
    --border-color:var(--ion-color-danger);
    --highlight-color-valid: var(--ion-color-danger);
}

.valid-item {
    --highlight-color-valid: var(--ion-color-success);
    --border-color:var(--ion-color-success);

}

.oauth_buttons {
    background: #F1F5F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.login {
    text-transform: none;
    font-size: 12px;
}

.signup_button {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: lowercase;
    color: white;
    margin: 0;
    padding: 0;
}

ion-content{
    --background: var(--ion-color-dark-contrast) !important;
}

.division{
    background-color: var(--ion-color-dark-contrast);;
}