.itemL {
    width: 100%
}

ion-toolbar {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
}

@media (min-width: 1100px) {

    ion-header,
    ion-footer {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .grid {
        border-color: lightgray;
        border-width: .01em;
        border-style: solid;
        margin-bottom: -1px;
    }
}

.custRow {
    background-color: var(--ion-color-primary-contrast);
    border-radius: 15px;
    display: block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
    margin: 16px;
    padding: 20px;
}

ion-searchbar {
    text-align: left !important;
}