<mat-toolbar>
  <button mat-icon-button (click)="currentDate.setDate(currentDate.getDate() - 1)">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  
  {{ currentDate | date:'medium' }}

  <button mat-icon-button (click)="currentDate.setDate(currentDate.getDate() + 1)">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  
  <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker (dateChange)="changeDate($event)"></mat-datepicker>
</mat-toolbar>

<!-- ... Toolbar HTML ... -->

<mat-table [dataSource]="times" class="table">
  <!-- Time Column -->
  <ng-container matColumnDef="time">
    <mat-header-cell *matHeaderCellDef class="time-column"> Time </mat-header-cell>
    <mat-cell *matCellDef="let time" class="time-column"> {{time}} </mat-cell>
  </ng-container>

  <!-- Generate columns for each employee -->
  <ng-container *ngFor="let employee of employees; let i = index" matColumnDef="employee{{i}}">
    <mat-header-cell *matHeaderCellDef class="employee-column"> 
      <img src="" alt="{{employee.name}}" width="50" height="50">
      {{employee.name}}
    </mat-header-cell>
    <mat-cell *matCellDef="let _" class="employee-column"> 
      <!-- Placeholder for future appointment data or interactions -->
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" 
  (click)="debugRow(row)"
  [class.current-time-row]="shouldShowCurrentTimeLine(row)">
</mat-row>


</mat-table>

