<ion-header>  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="light" (click)="goBack()" slot="start" >
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title color="light">{{title}}</ion-title>
</ion-toolbar></ion-header><ion-content>
<ion-grid class="ion-padding-top">  <ion-segment [(ngModel)]="segment" mode="ios" >
  <ion-segment-button value="desktop">
    <ion-label>Από Υπολογιστή</ion-label>
  </ion-segment-button>
  <ion-segment-button value="mobile">
    <ion-label>Από Κινητό / Tablet</ion-label>
  </ion-segment-button>
</ion-segment>
</ion-grid>
<ion-card *ngIf="segment === 'desktop'">
<ion-card-header>
  <ion-card-title>Οδηγός για Υπολογιστή</ion-card-title>
</ion-card-header>
<ion-card-content>
  <h2 class="ion-margin-top ion-padding-top">Video με τα βήματα (Facebook και Instagram)</h2>
  <iframe width="560" height="315" [src]="desktopVideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>   </ion-card-content>

  <ion-list>
    <ion-item *ngFor="let step of desktopSteps">
              <ion-grid class="full-width">
        <ion-row class="full-width">
          <ion-col class="full-width">
            <div class="text-container">
              <h2 class="title">{{step.title}}</h2>
              <ion-note [innerHTML]="step.description"></ion-note>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  </ion-card>  <ion-card *ngIf="segment === 'mobile'">
  <ion-card-header>
    <ion-card-title>Οδηγός Κινητού</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <h2 class="ion-margin-top ion-padding-top">Video με τα βήματα (Facebook και Instagram)</h2>
    <iframe width="560" height="315" [src]="mobileVideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      
    <ion-list>
      <ion-item *ngFor="let step of mobileSteps">          
        <ion-grid class="full-width">
          <ion-row class="full-width">
            <ion-col class="full-width">
              <div class="text-container">
                <h2 class="title">{{step.title}}</h2>
                <ion-note [innerHTML]="step.description"></ion-note>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
