<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()" slot="start">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" class="custom-title-wrap">Επεξεργασία Ειδοποίησης</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-xl="8">
        <div class="content-box ion-margin-top ion-margin-bottom">
          <div class="flex-align-items ion-padding" style="justify-content: space-between;">
            <div style="display: flex; align-items: center;">
              <ion-img src="../../../assets/icon/email.png" class="s25 mr10"></ion-img>
              <ion-label>Email</ion-label>
            </div>
            <ion-toggle [(ngModel)]="emailToggle" ></ion-toggle>
          </div>
          <ion-note class="ion-padding">
            Στέλνει την ειδοποίηση στον πελάτη σας αυτόματα μέσω Email.
          </ion-note>
        </div>
        <div class="content-box ion-margin-top ion-margin-bottom">
          <div class="flex-align-items ion-padding" style="justify-content: space-between;">
            <div style="display: flex; align-items: center;">
              <ion-img src="../../../assets/icon/sms-notification.png" class="s25 mr10"></ion-img>
              <ion-label>SMS</ion-label>
            </div>
            <ion-toggle [(ngModel)]="smsToggle" ></ion-toggle>
          </div>
          <ion-note class="ion-padding">
            Στέλνει την ειδοποίηση στον πελάτη σας αυτόματα μέσω SMS.
          </ion-note>
        </div>


        <ion-select *ngIf="type=='REMINDER_OF_RESERVATION'" [(ngModel)]="timeBefore" label="Χρόνος αποστολής υπενθύμισης" label-placement="floating" fill="outline" okText="ΕΠΙΛΟΓΗ"
          cancelText="ακυρο">

          <ion-select-option value="1h">1 ώρα πριν</ion-select-option>
          <ion-select-option value="2h">2 ώρες πριν</ion-select-option>
          <ion-select-option value="3h">3 ώρες πριν</ion-select-option>
          <ion-select-option value="1d">1 ημέρα πριν</ion-select-option>
          <ion-select-option value="2d">2 ημέρες πριν</ion-select-option>
          <ion-select-option value="3d">3 ημέρες πριν</ion-select-option>
          <ion-select-option value="4d">4 ημέρες πριν</ion-select-option>
          <ion-select-option value="5d">5 ημέρες πριν</ion-select-option>
          <ion-select-option value="6d">6 ημέρες πριν</ion-select-option>
          <ion-select-option value="7d">7 ημέρες πριν</ion-select-option>
        </ion-select>

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
<ion-footer> <ion-button class="ion-no-margin" (click)="saveNotification()" expand="full" color="primary">
    <ion-label class="ion-text-center capsoff" color="light">Αποθήκευση</ion-label>
  </ion-button></ion-footer>