<ion-header> <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()" slot="start">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Νέα Κράτηση</ion-title>
  </ion-toolbar></ion-header><ion-content class="background"> <ion-grid class="ion-no-padding bgL m8">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-xl="11">
        <h4><ion-text color="primary"><b>Επιλογή</b></ion-text><br>
          <ion-text color="dark"><b>Υπηρεσιών</b></ion-text>
        </h4>
        <ion-button *ngIf="selectedServicesAndPackages?.length==0" fill="outline" color="primary"
          (click)="chooseServices()" class="capsoff"> Προσθήκη</ion-button>
        <ion-grid class="customGrid" *ngIf="selectedServicesAndPackages.length!=0">
          <ion-row>
            <ion-segment>

            </ion-segment>
          </ion-row>
          <ion-row class="ion-margin-top">
            <ion-list lines="inset" class="ion-no-padding servicesList">
              <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
                <ion-item *ngFor="let service of selectedServicesAndPackages">
                  <ion-reorder slot="start" class="mr16"></ion-reorder>
                  <div class="success-line"></div>
                  <ion-label class="custom-text-wrap">
                    <h2 *ngIf="service.chosenVariation==null && service.parentName==null">{{ service.name }}</h2>
                    <h2 *ngIf="service.chosenVariation==null && service.parentName!=null">{{service.parentName}}
                      <ion-note>({{ service.name}})</ion-note></h2>

                    <h2 *ngIf="service.chosenVariation!=null">{{ service.name }} <ion-note>({{
                        service.chosenVariation.name }})</ion-note></h2>

                    <ion-note *ngIf="service.type!='package' && service.chosenVariation==null">Τιμή: €{{ service.price
                      }} • Διάρκεια: {{ service.duration}} λεπτά</ion-note>
                    <ion-note *ngIf="service.type!='package' && service.chosenVariation!=null">Τιμή: €{{
                      service.chosenVariation.price }} • Διάρκεια: {{ service.chosenVariation.duration}}
                      λεπτά</ion-note>
                    <ion-note *ngIf="service.type=='package'">
                      Τιμή: €{{ service.price }} • Διάρκεια:
                      {{ calculateTotalDuration(service) }} λεπτά

                    </ion-note>


                  </ion-label>

                  <ion-icon color="danger" class="cursor" *ngIf="service.isSelected" name="remove-circle-outline"
                    slot="end" (click)="toggleSelectService(service)"></ion-icon>
                </ion-item>
              </ion-reorder-group>
            </ion-list>
          </ion-row>
          <ion-row>
            <ion-button fill="outline" color="primary" (click)="chooseServices()" class="capsoff ion-margin">
              Αλλαγή</ion-button>

          </ion-row>
        </ion-grid>
        <h4 *ngIf="selectedServices.length>0" [@moveToBottom]="'*'"><ion-text
            color="primary"><b>Επιλογή</b></ion-text><br>
          <ion-text color="dark"><b>Εξυπηρέτησης</b></ion-text>
        </h4>

        <ion-grid class="transparent" *ngIf="selectedServices.length>0" [@moveToBottom]="'*'">
          <ion-row>
            <ion-accordion-group [value]="currentService" class="ion-padding custom-accordion transparent">
              <ion-accordion *ngFor="let service of selectedServices" [value]="service" class="custom-accordion-item">
                <ion-item slot="header" class="custom-accordion-header">
                  <ion-label *ngIf="service.chosenVariation==null"><ion-label
                      *ngIf="service.parentName!=null">{{service.parentName}} - </ion-label>{{ service.name }}<span
                      *ngIf="service.packageName"> ({{ service.packageName
                      }})</span></ion-label>
                  <ion-label *ngIf="service.chosenVariation!=null">{{service.name}} - <ion-label>{{
                      service.chosenVariation.name }}</ion-label></ion-label>
                </ion-item>
                <div slot="content" class="horizontal-scroll backgroundColor">

                  <div class="person-item ion-margin-start ion-margin-top ion-margin-bottom" *ngIf="service.employees?.length>1">
                    <div class="person-avatar" (click)="selectEmployee(service, 'anyone')">
                      <!-- Ensure the [class.selected] binding is on the <ion-avatar> tag for "anyone" -->
                      <ion-avatar class="avatar-border" [class.selected]="service.selectedEmployeeId === 'anyone'">
                        <ion-img src="../../../assets/icon/team.png"></ion-img>
                      </ion-avatar>
                      <ion-note>Οποιοσδήποτε</ion-note>
                    </div>
                  </div>

                  <!-- Display other team members -->
                  <div *ngFor="let person of service.employees" class="person-item ion-margin">
                    <div class="person-avatar" (click)="selectEmployee(service, person.id)">
                      <!-- Ensure the [class.selected] binding is on the <ion-avatar> tag for each employee -->
                      <ion-avatar class="avatar-border" [class.selected]="service.selectedEmployeeId === person.id">
                        <ion-img
                          [src]="(person.image === 'default' ? '../../../assets/icon/default-profile.png' : person.image)"></ion-img>

                      </ion-avatar>

                      <ion-note>{{person.name}}</ion-note>
                    </div>
                  </div>
                  <ion-note *ngIf="service.employees?.length==0" class="ion-margin">
                    Δεν υπάρχουν άτομα που να εξυπηρετούν τη συγκεκριμένη υπηρεσία.

                  </ion-note>
                </div>
              </ion-accordion>
            </ion-accordion-group>






          </ion-row>
        </ion-grid>

        <h4 *ngIf="canSelectDate" [@moveToBottom]="'*'"><ion-text color="primary"><b>Διαλέξτε</b></ion-text><br>
          <ion-text color="dark"><b>Ημέρα</b></ion-text>
        </h4>
        <ion-datetime  locale="el-GR" *ngIf="canSelectDate" #datetime displayFormat="DD/MM/YYYY" [dayValues]="dayValues" class="mxw"
          presentation="date" [min]="minDate" max="2099-10-31" [(ngModel)]="theDate"
          (ionChange)="dateChanged()"></ion-datetime>

        <h4 *ngIf="dateSelected" [@moveToBottom]="'*'"><ion-text color="primary"><b>Επιλογή</b></ion-text><br>
          <ion-text color="dark"><b>Ώρας</b></ion-text>
        </h4>


        <ion-grid class="customGrid" *ngIf="dateSelected" [@moveToBottom]="'*'">
          <ion-row class="ion-margin scrollable-content">
            <ion-col>
              <mat-button-toggle-group class="toggleGroup" #group="matButtonToggleGroup" value="all"
                [(ngModel)]="toggleValue" (change)="filterTimeSlots()" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="all">Όλα</mat-button-toggle>
                <mat-button-toggle value="morning">Πρωί</mat-button-toggle>
                <mat-button-toggle value="afternoon">Μεσημέρι</mat-button-toggle>
                <mat-button-toggle value="evening">Απόγευμα</mat-button-toggle>
                <mat-button-toggle value="night">Βράδυ</mat-button-toggle>
              </mat-button-toggle-group>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin scrollable-content ion-justify-content-center ion-text-center">
            <ng-container
              *ngIf="dateSelected && filteredTimeSlots && filteredTimeSlots.length > 0; else noSlotsAvailable">
              <div *ngFor="let slot of filteredTimeSlots"
                [class]="slot.selected ? 'ion-text-center timDiv selected cursor' : 'ion-text-center timDiv avail cursor'"
                (click)="slotSelected(slot)">
                <ion-label>{{slot.value}}</ion-label>
              </div>
            </ng-container>
            <ng-template #noSlotsAvailable>
              <ion-note class="no_results_text ion-justify-content-center">
                Δεν υπάρχει διαθεσιμότητα. Δοκιμάστε κάποια άλλη ημέρα ή περίοδο.
              </ion-note>
              <ion-button expand="full" color="primary" (click)="goToNextAvailable()">
                <ion-text color="light" class="capsoff">Επόμενη Διαθέσιμη</ion-text>
              </ion-button>
            </ng-template>
          </ion-row>

        </ion-grid>




        <h4 *ngIf="timeSelected && !editing" [@moveToBottom]="'*'"><ion-text
            color="primary"><b>Επιλογή</b></ion-text><br>
          <ion-text color="dark"><b>Πελάτη</b></ion-text>
        </h4>
        <ion-item *ngIf="timeSelected && !editing" class="border ion-margin-bottom ion-margin-end"
          (click)="presentClientPop()">
          <ion-label class="full-width-label"> <ion-item lines="none" *ngIf="selectedClientImage!=''">
              <ion-avatar class="custAvatarHed2">
                <ion-img
                  [src]="(selectedClientImage === 'default' ? '../../../assets/icon/default-profile.png' : selectedClientImage)"></ion-img>

              </ion-avatar>
              <ion-grid>
                <ion-row>
                  <ion-label>
                    {{selectedClient}}
                  </ion-label>
                </ion-row>
                <ion-row>
                  <ion-note>{{selectedClientPhone}}</ion-note>
                </ion-row>
              </ion-grid> </ion-item>
            <ion-grid *ngIf="selectedClientImage==''">
              <ion-row>
                <ion-label>Στοιχεία Πελάτη</ion-label> </ion-row>
              <ion-row>
                <ion-note>Επιλέξτε πελάτη</ion-note> </ion-row> </ion-grid> </ion-label>
          <ion-icon name="chevron-down-outline" slot="end" class="icon-end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> <ion-modal #clientModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="light" (click)="goBackClientPop()" slot="start" fill="clear">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title color="light" class="ion-padding">
            <b>Επιλογή Πελάτη</b><br>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding backgroundChooseClient">
        <ng-container *ngIf="!isAddingNewClient">
          <ion-searchbar class="blackFont" placeholder="Εισάγετε όνομα" [(ngModel)]="searchTerm"
            (keyup)="searchClient()"></ion-searchbar>
          <ion-list class="ion-no-padding">
            <ion-item *ngIf="isLoading">
              <ion-spinner slot="start" name="crescent" color="primary"></ion-spinner>
              <ion-label class="ion-padding-start">Αναζήτηση...</ion-label>
            </ion-item>
            <ion-item class="shadow cursor" *ngFor="let suggestion of suggestionsNames"
              (click)="selectClient(suggestion)">
              <ion-avatar class="custAvatarHed">
                <ion-img
                  [src]="(suggestion.image === 'default' ? '../../../assets/icon/default-profile.png' : suggestion.image)"></ion-img>
              </ion-avatar>
              <ion-label>{{suggestion.name}} <ion-note>({{suggestion.phone}})</ion-note></ion-label>
            </ion-item>
          </ion-list>
          <ion-button expand="full" color="primary" (click)="addNewClient()" class="capsoff">
            <ion-icon color="light" slot="start" name="add-circle"></ion-icon>
            <ion-text color="light"> Προσθήκη νέου πελάτη </ion-text>
          </ion-button>
        </ng-container>
        <ng-container *ngIf="isAddingNewClient">
          <ion-grid>
            <ion-row class="ion-margin-top ion-margin-bottom">
                <ion-col size="12" size-lg="6">
                    <ion-input [(ngModel)]="newClientName" (keyup)="validateInputsNewClient()" label="Όνομα"
                        label-placement="stacked" fill="solid" placeholder="Εισάγετε όνομα"></ion-input>
                </ion-col>
                <ion-col size="12" size-lg="6">
                    <ion-input [(ngModel)]="newClientSurname" (keyup)="validateInputsNewClient()" label="Επίθετο"
                        label-placement="stacked" fill="solid" placeholder="Εισάγετε επίθετο"></ion-input>
                </ion-col>
            </ion-row>
        
            <ion-row class="ion-margin-top ion-margin-bottom">
                <ion-col>
                    <ion-input type="tel" label="Τηλέφωνο (Προαιρετικό)" label-placement="stacked" fill="solid"
                        placeholder="+30 69x xxx xxxx" [(ngModel)]="newClientPhone" [maskito]="options"
                        [maskitoElement]="maskPredicate" (keyup)="validateInputsNewClient()"></ion-input>
                </ion-col>
            </ion-row>
        
            <ion-row class="ion-margin-top ion-margin-bottom">
                <ion-col>
                    <ion-input type="email" label="Email (Προαιρετικό)" label-placement="stacked" fill="solid"
                        placeholder="Εισάγετε email" [(ngModel)]="newClientEmail" (keyup)="validateInputsNewClient()"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
        
        </ng-container>
      </ion-content>
      <ion-footer *ngIf="isAddingNewClient">
        <ion-button class="apply-button ion-no-margin" fill="solid" expand="full" color="primary"
          [disabled]="!isInputValid" (click)="createClient()">
          <ion-text color="light">Δημιουργία</ion-text>
        </ion-button>
      </ion-footer>
    </ng-template>

  </ion-modal></ion-content><ion-footer> <ion-button class="ion-no-margin" [disabled]="!saveButtonEnabled" expand="full"
    color="primary" (click)="saveKrathsh()">
    <ion-label class="ion-text-center capsoff" color="light">Αποθήκευση</ion-label>
  </ion-button></ion-footer>