.content-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-text {
  flex: 1;
  padding-right: 10px;
}

.mt0 {
  margin-top: 0px;
}

.title_space {
  padding-left: 9px;
}

