.header-md::after {
    background-image: none;
}

.bordernon {
    border: none;
}

.newHeight {
    height: 375px;
}

.bgL {
    background-color: var(--ion-color-primary-contrast);
}

.custH {
    border-bottom-style: solid;
    padding: 10px;
    width: 120px;
    text-align: center;
}

.custGrid {
    position: relative;
    top: -181px;
}

.footer-md::before {
    background-image: none;
}

.borderNone {
    border-radius: 0px;
}

.padd13 {
    padding-top: 13%
}

.padd1 {
    padding: 1%;
}

.logoSvg {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

.invalid-item {
    --highlight-color-valid: var(--ion-color-danger);

}

.valid-item {

    --highlight-color-valid: var(--ion-color-success);
}

.centered-spinner {
    --spinner-color: white; // Ensures the spinner is white, another way in addition to using `color="light"`
    margin: auto; // Centers the spinner
    display: block; // Block will help with centering
}