<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()" slot="start">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" *ngIf="!editMode">Νέο Πακέτο</ion-title>
    <ion-title color="light" *ngIf="editMode">Αλλαγή Πακέτου</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="8">


        <ion-grid class="whiteBackground ion-margin rad">
          <ion-row class="mt10">
            <ion-col size="12">
              <h3 class="ion-margin-start">Βασικές Πληροφορίες</h3> 
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top ion-margin-start ion-margin-end">
            <ion-col size="12">
              <ion-input [counter]="true" maxlength="50" label="Όνομα πακέτου" label-placement="stacked"  placeholder="Εισάγετε όνομα" fill="solid"
                [(ngModel)]="packageName"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class=" ion-margin-top ion-margin-start ion-margin-end">
            <ion-col size="12">
              <ion-textarea [counter]="true" maxlength="70" [autoGrow]="true" label="Περιγραφή πακέτου"  placeholder="Εισάγετε περιγραφή"
                label-placement="stacked" fill="solid" helperText="Προαιρετικό"
                [(ngModel)]="packageDescription"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="whiteBackground ion-margin rad">
          <ion-row class="mt10">
            <ion-col size="12">
              <h3 class="ion-margin-start">Υπηρεσίες</h3> 

            </ion-col>
          </ion-row>
          <ion-row class=" ion-margin-top ">
            <ion-col size="12">
              <!-- Hidden ion-select -->
              <ion-select  placeholder="Επιλέξτε υπηρεσίες" okText="Επιλογη" cancelText="Ακυρο" #serviceSelect style="position: absolute; left: -9999px;"
                label="Υπηρεσίες" label-placement="stacked" fill="outline" multiple="true"
                (ionChange)="updateSelectedServices($event)" [(ngModel)]="selectedServices">
                <ion-select-option *ngFor="let service of services" [value]="service.id">
                  {{ service.name }}
                </ion-select-option>
              </ion-select>
           


              <ion-list class="ion-no-padding ml6">
                <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
                  <ion-item *ngFor="let selectedService of selectedServices">
                    <ion-label>{{ getSelectedServiceName(selectedService) }}</ion-label>

                    <ion-reorder slot="end"></ion-reorder>
                  </ion-item>
                </ion-reorder-group>
              </ion-list>
              

              <ion-item class="ml12" (click)="openServiceSelect()" class="cursor mr10" lines="none">
                <ion-icon aria-hidden="true" name="add-circle" color="primary" slot="start" class="mr10"></ion-icon>
                <ion-label> Επιλογή υπηρεσιών</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="whiteBackground ion-margin rad">
          <ion-row class="mt10">
            <ion-col size="12">
              <h3 class="ion-margin-start">Τιμή</h3> 

            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top ion-margin-start ion-margin-end">
            <ion-col size="12">
              <ion-input  inputmode="numeric" placeholder="Εισάγετε τιμή" label="Τιμή πακέτου (€)" label-placement="stacked" fill="solid" placeholder="0.00"
                (ionInput)="onInput($event)" [(ngModel)]="packagePrice"></ion-input>


            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid class="ion-no-padding" *ngIf="editMode==true">
    <ion-row>
      <ion-col size="6" class="ion-no-padding" >
        <ion-button color="danger" class="ion-no-margin ion-no-padding capsoff" expand="full" (click)="deletePackage()">
          
          <ion-text color="light">Διαγραφή</ion-text> 

        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-button [disabled]="!canSavePackage()" class="ion-no-margin ion-no-padding capsoff" expand="full" (click)="savePackage()">       
          <ion-text color="light">Αποθήκευση</ion-text> 
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button  *ngIf="editMode==false" [disabled]="!canSavePackage()" class="ion-no-margin ion-no-padding capsoff" expand="full" (click)="savePackage()">       
    <ion-text color="light">Αποθήκευση</ion-text> 
  </ion-button>
</ion-footer>