<ion-header> <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="light" (click)="goBack()" slot="start">
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title color="light">Αναζήτηση Κράτησης</ion-title>
</ion-toolbar></ion-header><ion-content>
<ion-grid>
  <ion-row class="ion-justify-content-center ">
    <ion-col size="11">
      <ion-searchbar class="search" [(ngModel)]="searchTerm" (keyup)="onSearch($event)"
        placeholder="Όνομα Κράτησης"></ion-searchbar> </ion-col>
  </ion-row>
</ion-grid> <ion-list class="ion-no-padding">
  <ion-grid>
    <ion-row class=" ion-margin-start ion-margin-end custRow " *ngFor="let krathsh of krathseis">
      <ion-grid>
        <ion-row class="ion-align-items-center borderBottom" (click)="goToKrathsh(krathsh[0])">
          <ion-avatar class="custAvatarHed">
            <ion-img src="data:image/jpeg;base64,{{krathsh[7]}}"></ion-img>
          </ion-avatar>
          <ion-grid class="custGrid">
            <ion-row>
              <ion-label class="f15 title" text-wrap>{{krathsh[5]}}</ion-label>
              <div class="align-right">
                <ion-icon color="primary " name="person-outline"></ion-icon>
                <ion-note class="people-number">{{krathsh[4]}}</ion-note>
              </div>
            </ion-row>
            <ion-row>
              <ion-chip [color]="getColorForStatus(krathsh[2])" class="chip-container ion-align-items-start"
                *ngIf="krathsh[2]!='Εκκρεμεί'">
                <ion-label>
                  {{krathsh[2]}}
                </ion-label>
                <div class="center">
                  <ion-spinner color="primary" name="crescent" *ngIf="!krathsh[2]"></ion-spinner>
                </div>
              </ion-chip>
              <ion-chip class="chip-container2 ion-align-items-start" *ngIf="krathsh[2]=='Εκκρεμεί'"
                (click)="openAcceptPopover(); $event.stopPropagation();">
                <ion-label>
                  {{krathsh[2]}}
                </ion-label>
                <div class="center">
                  <ion-spinner color="primary" name="crescent" *ngIf="!krathsh[2]"></ion-spinner>
                </div>
                <ion-popover #acceptPop (ionPopoverDidDismiss)="closeAcceptPopover()">
                  <ng-template>
                    <ion-note style="text-align: center; padding: 20px;">
                      <p>Θέλετε να αποδεχτείτε την συγκεκριμένη κράτηση;</p>
                    </ion-note>
                    <div style="display: flex; justify-content: space-between; padding-top:30px;">
                      <ion-button fill="outline" color="danger" (click)="openRejectionPopover()">
                        <ion-icon style="margin-right:3px;" name="close-circle-outline"></ion-icon>
                        Απόρριψη
                      </ion-button>
                      <ion-button fill="solid" color="success" (click)="applyAcceptPopover(krathsh[0])">
                        <ion-icon name="checkmark-circle-outline" style="margin-right:3px;"></ion-icon>
                        Αποδοχή
                      </ion-button>
                    </div>
                  </ng-template>
                </ion-popover>
                <ion-popover #rejectPop (ionPopoverDidDismiss)="closeRejectPopover()">
                  <ng-template> <ion-textarea [counter]="true" maxlength="200" [autoGrow]="true" class="cancelReason"
                      label="Λόγος απόρριψης" labelPlacement="floating" fill="outline"
                      [value]="cancelReason"></ion-textarea>
                    <div class="scrolling-wrapper reasonChips">
                      <ion-chip outline color="primary" style="font-size: 12px;"
                        (click)="appendToTextArea('Η ώρα που διαλέξατε δεν είναι διαθέσιμη. Παρακαλούμε κάντε μία νέα κράτηση.')">Μη
                        διαθέσιμη ώρα</ion-chip>
                      <ion-chip outline color="secondary" style="font-size: 12px;"
                        (click)="appendToTextArea('Λόγω ενός αναπάντεχου περιστατικού, αναγκαζόμαστε να ακυρώσουμε την κράτησή σας. Παρακαλούμε κάντε μία νέα κράτηση.')">Αναπάντεχο
                        συμβάν</ion-chip>
                    </div>
                    <ion-button class="ion-margin-top" fill="solid" color="primary"
                      (click)="applyRejectPopover(krathsh[0])">
                      Αποστολή
                    </ion-button>
                  </ng-template>
                </ion-popover>
              </ion-chip>
              <ion-note class="date align-right">{{krathsh[3]}}</ion-note>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid> <ion-infinite-scroll threshold="0" (ionInfinite)="loadData($event)" [disabled]="disableInfiniteScroll">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Φόρτωση περισσότερων...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> </ion-list>
</ion-content>