<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()" slot="start">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Ρυθμίσεις</ion-title>
  </ion-toolbar>
</ion-header><ion-content [fullscreen]="true" class="background">
  <ion-segment mode="md" class="no-capitalize" color="primary" [(ngModel)]="selectedSegment">
    <ion-segment-button value="reservations" (click)="loadKrathseisSettings()" class="mr5">
      <ion-label>Κρατήσεις</ion-label>
    </ion-segment-button>
    <ion-segment-button value="social-media" class="mr5">
      <ion-label>Social Media</ion-label>
    </ion-segment-button>
    <ion-segment-button value="wrario" (click)="loadWrarioData()" class="mr5">
      <ion-label>Ωράριο</ion-label>
    </ion-segment-button> 
  </ion-segment>
  <div *ngIf="selectedSegment === 'reservations'"> <ion-grid class="ion-margin custom-grid max-height">
      <!--<ion-row class="ion-justify-content-center">
        <ion-col size-xl="7" size="12">
          <ion-input type="number" [(ngModel)]="maxReservationMinutes" label="Μέγιστη διάρκεια κράτησης (λεπτά)"
            label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        </ion-col> </ion-row>-->
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size-xl="7" size="12">
          <ion-list class="ion-no-padding"> <ion-label>
              <ion-select label="Time slots" fill="outline" [(ngModel)]="slotInterval">
                <ion-select-option value="15">Ανά 15 λεπτά</ion-select-option>
                <ion-select-option value="30">Ανά 30 λεπτά</ion-select-option>
                <ion-select-option value="45">Ανά 45 λεπτά</ion-select-option>
                <ion-select-option value="60">Ανά 60 λεπτά</ion-select-option>
              </ion-select>
            </ion-label>
          </ion-list> </ion-col> </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center ion-margin-top">
        <ion-col size-xl="8" class="ion-justify-content-center">
          <ion-item lines="none"> <ion-toggle [(ngModel)]="needAccept" #toggleElement [enableOnOffLabels]="true"
              labelPlacement="start">Αυτόματη αποδοχή κρατήσεων</ion-toggle>
          </ion-item>
        </ion-col> </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center ion-margin-top">
        <ion-col size-xl="8" class="ion-justify-content-center"> <ion-item lines="none">
            <ion-toggle [(ngModel)]="isVisible " #toggleElement [enableOnOffLabels]="true"
              labelPlacement="start">Ενεργοποίηση online κρατήσεων</ion-toggle>
          </ion-item>
        </ion-col> </ion-row>
    </ion-grid> </div>






  <div *ngIf="selectedSegment === 'social-media'">
    <ion-grid class="mt16">
      <ion-row class="ion-justify-content-center">
        <ion-col size="10" size-xs="11" class="ion-text-center">
          <ion-segment class="social-segment " [(ngModel)]="selectedSocialSegment" mode="ios"
            (ionChange)="resetSocialMedia()">
            <ion-segment-button value="facebook" layout="icon-start">
              <ion-icon [color]="selectedSocialSegment=='facebook'?'primary':'light'" name="logo-facebook"></ion-icon>
              <ion-label>Facebook</ion-label>
            </ion-segment-button>
            <ion-segment-button value="instagram" layout="icon-start">
              <ion-icon [color]="selectedSocialSegment=='instagram'?'danger':'light'" name="logo-instagram"></ion-icon>
              <ion-label>Instagram</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid *ngIf="!pageChosen">
      <ion-row class="ion-justify-content-center ion-text-center ion-padding-bottom">
        <ion-col size-sm="10" size-xl="12"> <ion-note class=" ion-text-center ">
            Προσθέστε <b>εύκολα</b> το link κρατήσεων σας στα social-media σας και κερδίστε περισσότερους πελάτες και
            λιγότερες τηλεφωνικές κρατήσεις! </ion-note> </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size-sm="10" size-xs="12">
          <div class="image-container">
            <ion-img src="../../../assets/imgs/phones.webp" class="phones-image"></ion-img>
            <ion-button class="overlay-button ion-margin-top capsoff" size="medium" shape="round"
              (click)="setupOauth();tooltipFacebok.toggle();" #tooltipFacebok="matTooltip"
              matTooltip="Μετά την έγκριση από το Facebook, θα σας προτείνουμε αλλαγές για να επιλέξετε· δεν θα γίνει τίποτα χωρίς τη συγκατάθεσή σας."
              matTooltipPosition="above">
              Το θέλω
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-modal #pageChooseModal>
      <ng-container *ngIf="choosePage==true">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-buttons>
              <ion-icon slot="start" name="arrow-back" color="light" class="ion-padding-start"
                (click)="dismissPageModal()"></ion-icon>
              <ion-title color="light">
                Επιλογή σελίδας
              </ion-title>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-grid>
          <ion-row>
            <ion-col size-xs="6" *ngFor="let page of pagesToChoose">
              <ion-card (click)="choosePageMethod(page)">
                <img [src]="page?.url" class="page-image" />
                <ion-card-content>
                  <ion-card-title color="dark" class="album-name">{{ page.name }}</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ion-modal>
    <ion-grid class="custom-grid ion-margin-end ion-margin-start ion-margin-top"
      *ngIf="pageChosen && selectedSocialSegment=='facebook'">
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6" size-xs="12">
          <mat-list *ngIf="currentMenuCallToActions?.length > 0; else noMenu">
            <div mat-subheader class="disabled-style">Υπάρχον Menu messenger</div>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let action of currentMenuCallToActions">
              <mat-list-item class="disabled-style">
                <mat-icon class="link-icon disabled-style" matListItemIcon>
                  {{ action?.type === 'web_url' ? 'link' : 'send' }}
                </mat-icon>
                <div matListItemTitle class="disabled-style">{{ action?.title }}</div>
                <div matListItemLine class="mat-list-item-line disabled-style" *ngIf="action?.url">{{ action?.url }}
                </div>
              </mat-list-item>
            </ng-container>
          </mat-list> <ng-template #noMenu>
            <div mat-subheader class="disabled-style no-menu-header">Υπάρχον Menu messenger</div>
            <mat-divider></mat-divider>
            <p class="empty-menu-message disabled-style">Δεν έχει οριστεί ακόμα menu messenger.</p>
          </ng-template> </ion-col> <ion-col size-sm="6" size-xs="12">
          <mat-list>
            <div mat-subheader>Προτεινόμενο menu</div>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let action of proposedMenuCallToActions">
              <mat-list-item>
                <mat-icon class="link-icon " matListItemIcon>
                  {{ action.type === 'web_url' ? 'link' : 'send' }}
                </mat-icon>
                <div matListItemTitle>{{ action.title }}</div>
                <div matListItemLine class="mat-list-item-line" *ngIf="action.url">{{ action.url }}</div>
              </mat-list-item>
            </ng-container>
          </mat-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6" size-xs="10">
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <ion-icon color="primary" name="information-circle-outline" matTooltipPosition="above"
                class="information-icon" (click)="tooltipMenu.toggle()" #tooltipMenu="matTooltip"
                matTooltip="Διαμορφώστε το messenger menu σας για να βλέπουν οι πελάτες σας άμεσα την επιλογή για online κράτηση όταν ανοίγουν το chat! Καθιστά την διαδικασία πιο άμεση και αυξάνει τις πιθανότητες κρατήσεων!"></ion-icon>
            </ion-col>
            <ion-col size="auto">
              <ion-button [disabled]="hideMessengerMenu" class="capsoff fixed-width-button" size="small" shape="round"
                expand="full" (click)="savePersistentMenu()">
                <ng-container *ngIf="saveStatePersistenyMenu === 'idle'">Αυτόματη Αποθήκευση</ng-container>
                <ion-spinner class="small-spinner" *ngIf="saveStatePersistenyMenu === 'loading'"
                  color="light"></ion-spinner>
                <ion-icon *ngIf="saveStatePersistenyMenu === 'success'" name="checkmark-circle-outline"
                  color="success"></ion-icon>
                <ion-icon *ngIf="saveStatePersistenyMenu === 'error'" name="close-circle-outline"
                  color="danger"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="custom-grid ion-margin-end ion-margin-start ion-margin-top ion-margin-bottom"
      *ngIf="facebookAccessGranted ">
      <ion-row class="ion-justify-content-center">
        <ion-col sizeSm="6" size-xs="12" *ngIf="selectedSocialSegment=='facebook'">
          <ion-textarea [autoGrow]="true" disabled [value]="currentPageDescription" label="Υπάρχουσα εισαγωγική κάρτα"
            labelPlacement="floating" fill="outline" color="medium" readonly></ion-textarea>
        </ion-col>
        <ion-col size-sm="6" size-xs="12" *ngIf="selectedSocialSegment=='facebook'">
          <ion-textarea [autoGrow]="true" [counter]="true" maxlength="100" [(ngModel)]="proposedFacebookDescription"
            [value]="proposedFacebookDescription" label="Προτεινόμενη αλλαγή κάρτας" labelPlacement="floating"
            fill="outline" color="primary"></ion-textarea>
        </ion-col>
        <ion-col size-sm="10" size-xs="12" *ngIf="selectedSocialSegment!='facebook'">
          <div style="position: relative;">
            <ion-textarea [autoGrow]="true" [counter]="true" maxlength="100" [(ngModel)]="proposedFacebookDescription"
              [value]="proposedFacebookDescription" label="Προτεινόμενη αλλαγή κάρτας" labelPlacement="floating"
              fill="outline" color="primary"></ion-textarea>

            <ion-icon name="clipboard-outline"
              style="position: absolute; right: 2px; bottom: 25px; cursor: pointer; z-index: 2;"
              (click)="copyToClipboard(proposedFacebookDescription)">
            </ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6" size-xs="10">
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <ion-icon color="primary" name="information-circle-outline" matTooltipPosition="above"
                class="information-icon" (click)="tooltipFacebookDescription.toggle()"
                #tooltipFacebookDescription="matTooltip"
                matTooltip="Η εισαγωγική κάρτα της σελίδας σας είναι σημαντικό να έχει το link για online κρατήσεις. Επίσης θα προστεθεί ο σύνδεσμος των κρατήσεων στους συνδέσμους του προφίλ σας."></ion-icon>
            </ion-col>
            <ion-col size="auto">
              <ion-button [disabled]="currentPageDescription === proposedFacebookDescription"
                *ngIf="selectedSocialSegment == 'facebook'" class="capsoff fixed-width-button " size="small"
                shape="round" expand="full" (click)="saveFacebookDescriptionAndLink()">
                <ng-container *ngIf="saveStateDescriptionAndLink === 'idle'">Αυτόματη Αποθήκευση</ng-container>
                <ion-spinner class="small-spinner" *ngIf="saveStateDescriptionAndLink === 'loading'"
                  color="light"></ion-spinner>
                <ion-icon *ngIf="saveStateDescriptionAndLink === 'success' " name="checkmark-circle-outline"
                  color="success"></ion-icon>
                <ion-icon *ngIf="saveStateDescriptionAndLink === 'error' " name="close-circle-outline"
                  color="danger"></ion-icon>
              </ion-button>
              <ion-button *ngIf="selectedSocialSegment != 'facebook'" class="capsoff fixed-width-button-manual"
                size="small" shape="round" expand="full" (click)="manualGuideFBGreeting('bio')">
                Χειροκίνητη Αποθήκευση
              </ion-button>


            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="custom-grid ion-margin-end ion-margin-start ion-margin-top ion-margin-bottom"
      *ngIf="facebookAccessGranted">
      <ion-row class="ion-justify-content-center"> <ion-col size-sm="10" size-xs="12">
          <div style="position: relative;">
            <ion-textarea [autoGrow]="true" [(ngModel)]="autoGreeting" [value]="autoGreeting"
              label="Αυτόματος χαιρειτισμός messenger" labelPlacement="floating" fill="outline" color="primary"
              style="padding-right: 0px;"> <!-- Increase as needed -->
            </ion-textarea>
            <ion-icon name="clipboard-outline"
              style="position: absolute; right: 2px; bottom: 10px; cursor: pointer; z-index: 2;"
              (click)="copyToClipboard(autoGreeting)">
            </ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="12" size-xs="12">
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="auto">
              <ion-icon color="primary" name="information-circle-outline" matTooltipPosition="above"
                class="information-icon" (click)="tooltipFacebookDescription.toggle()"
                #tooltipFacebookDescription="matTooltip"
                matTooltip="Ο αυτόματος χαιρετισμός είναι το αρχικό μήνυμα που λαμβάνουν οι πελάτες όταν επικοινωνούν με τη σελίδα σας. Είναι πρακτικό να περιλαμβάνει έναν σύνδεσμο για online κρατήσεις, καθώς πολλοί επιθυμούν να κάνουν κράτηση μέσω μηνύματος."></ion-icon>
            </ion-col>
            <ion-col size="auto">
              <ion-button class="capsoff fixed-width-button-manual" size="small" shape="round" expand="full"
                (click)="manualGuideFBGreeting('greeting')">
                Χειροκίνητη Αποθήκευση
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>








 
  <div *ngIf="selectedSegment === 'wrario'">
    <ion-grid> <ion-row class="ion-justify-content-center ion-text-center ion-margin-top">
        <ion-col size-xl="8" class="ion-justify-content-center">
          <div class="flex-container">
            <mat-form-field appearance="fill" (click)="handleClick()" class="form-field">
              <mat-label>Εξαιρέσεις ωραρίου</mat-label>
              <mat-select #mySelect [formControl]="daysControl" multiple>
                <div class="special-action" (click)="openDateTimePicker()">
                  <mat-icon>add</mat-icon> Προσθήκη ημερομηνίας / ώρας
                </div>
                <mat-option *ngFor="let exception of schedulExceptions" [value]="exception" class="ion-margin-bottom">
                  {{ exception.formatted }} ({{exception.repeat}}) <!-- Adjust as per your data structure -->
                </mat-option>
              </mat-select>
            </mat-form-field> <mat-icon class="ion-margin-bottom blue-icon" #tooltip="matTooltip"
              (click)="tooltip.toggle()" matTooltipPosition="above"
              matTooltip="Με τις εξαιρέσεις ωραρίου μπορείτε να ορίσετε ημέρες και ώρες που η επιχείρηση σας θα είναι κλειστή.">help_outline</mat-icon>
          </div> <ion-modal class="high-z-index" #dateTimePop size="auto" side="top" alignment="top">
            <ng-template> </ng-template>
          </ion-modal>
        </ion-col> </ion-row>
    </ion-grid> <ion-list class="scrollable-list max-height">
      <div *ngFor="let day of daysWrario">
        <ion-item lines="none">
          <ion-label>{{day.name}}</ion-label>
          <ion-toggle color="success" [checked]="day.open" (ionChange)="onDayToggle(day)"></ion-toggle>
        </ion-item>
        <!--<div *ngIf="day.open" class="time-selection">-->
        <div [@openClose]="day.open ? 'open' : 'closed'" class="time-selection"> <ion-grid class="ion-no-margin w100">
            <ion-row *ngFor="let timeInterval of day.timeIntervals; let i = index">
              <ion-col size="5">
                <ion-select class="smaller-font" label="Ανοίγει στις" label-placement="floating" fill="outline"
                  interface="popover" [(ngModel)]="timeInterval.start"
                  (ionChange)="onStartTimeChange(timeInterval.start, timeInterval, day)">
                  <ion-select-option *ngFor="let hour of hours" [value]="hour">{{hour}}</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="5">
                <ion-select class="smaller-font" label="Κλείνει στις" label-placement="floating" fill="outline"
                  interface="popover" [(ngModel)]="timeInterval.end"
                  (ionChange)="onEndTimeChange(timeInterval.end, timeInterval, day)">
                  <ion-select-option *ngFor="let hour of hours" [value]="hour">{{hour}}</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="2">
                <ion-icon color="primary" class="ion-padding-top scheduleIcon" name="add-circle-outline" size="large"
                  (click)="addTimeInterval(day)" *ngIf="i == 0"></ion-icon> <ion-icon
                  class="ion-padding-top scheduleIcon" name="trash-outline" size="large" color="danger"
                  (click)="deleteTimeInterval(day, i)" *ngIf="i > 0"></ion-icon> </ion-col>
            </ion-row>
          </ion-grid> </div>
      </div>
    </ion-list>
  </div>
 
 
</ion-content>
<ion-footer class="ion-no-padding" *ngIf="selectedSegment!='social-media'">
  <ion-button class="ion-no-padding ion-no-margin" expand="full" color="primary" (click)="saveSegmentSettings()">
    <ion-label class="ion-no-padding" class="ion-text-center capsoff">{{saveButtonText}}</ion-label>
  </ion-button>
</ion-footer>