<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()" slot="start">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Ρυθμίσεις</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background">
   
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let item of settings">
        <ion-card (click)="goToSetting(item)" [ngClass]="{'centered-card-content': true, 'ion-padding-bottom': true, 'ion-padding-top': item.name === 'Σκοτεινή λειτουργία'}" class="cursor">
          <div class="avatar-container" >
            <ion-img class="wh45" src="{{item.icon}}"></ion-img>
          </div>
          <ion-card-header class="centered-header " >
            <ion-card-subtitle text-wrap class="capsoff">{{item.name}}</ion-card-subtitle>
          </ion-card-header>
          <!--<div *ngIf="item.name === 'Σκοτεινή λειτουργία'" class="toggle-container ion-padding" (click)="goToSetting(item); $event.stopPropagation()">
            <ion-toggle color="primary" [(ngModel)]="themeToggle" (ionChange)="toggleChange(); goToSetting(item)"></ion-toggle>
          </div>-->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
