<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="closeModal()" slot="start">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Ρυθμίσεις Αυτόματης Ανανέωσης</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Ρυθμίστε τις παρακάτω επιλογές για να παραμετροποιήσετε την αυτόματη ανανέωση του υπολοίπου SMS.</p>

  <div class="ion-margin">
    <ion-input 
      [(ngModel)]="smsAmount"
      type="tel" 
      label="SMS προς ανανέωση" 
      label-placement="floating" 
      fill="outline" 
      placeholder="200"
      min="1"
      class="ion-margin-bottom">
      <ion-label position="floating">SMS προς ανανέωση</ion-label>
      <ion-text slot="helper">1 SMS = 0,08 € + 24% Φ.Π.Α. Συνολική χρέωση: {{ smsAmount * 0.08 * 1.24 | currency:'EUR' }}</ion-text>
    </ion-input>

    <ion-input 
      [(ngModel)]="threshold" 
      type="tel" 
      label="Όριο Ανανεώσεων" 
      label-placement="floating" 
      fill="outline" 
      placeholder="10"
      min="1"
      class="ion-margin-bottom">
      <ion-label position="floating">Όριο Ανανεώσεων</ion-label>
      <ion-text slot="helper">Αυτόματη ανανέωση όταν το υπόλοιπο πέσει σε {{ threshold }}</ion-text>
    </ion-input>
  </div>

  <ion-card>
    <ion-card-header>Σύνοψη</ion-card-header>
    <ion-card-content>
      <p><strong>SMS προς ανανέωση:</strong> {{ smsAmount }}</p>
      <p><strong>Όριο Ανανεώσεων:</strong> {{ threshold }}</p>
      <p><strong>Χρέωση ανά Ανανεώση:</strong> {{ smsAmount * 0.08 * 1.24 | currency:'EUR' }} (0,08€ ανά SMS + 24% Φ.Π.Α.)</p>
    </ion-card-content>
  </ion-card>

</ion-content>
  <ion-footer>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-button color="danger" class="ion-no-margin ion-no-padding capsoff" expand="full" (click)="confirmDisableAutoRenewal()">
            <ion-text color="light">Απενεργοποίηση</ion-text> 
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-button class="ion-no-margin ion-no-padding capsoff" expand="full" (click)="saveSettings()">       
            <ion-text color="light">Αποθήκευση</ion-text> 
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
  