.custom-title-wrap {
    white-space: normal;
    text-align: left; /* Ensures title is centered even when wrapped */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .custom-title-wrap {
    font-size: 1rem; /* Adjusted font size for mobile devices */
  }
}

.content-box {
  border: 1px solid #ccc; /* Example border: 2px solid grey */
  padding: 10px; /* Adds some padding inside the box */
  margin-bottom: 20px; /* Adds some space below the box */
  border-radius: 10px; /* Optional: adds rounded corners */
  cursor: pointer;
  background: var(--ion-color-dark-contrast);
}

.s40{
  width:40px;
  height:auto;
}

.s25{
  width:25px;
  height:25px;
}

.mb8{

}

.large-icon {
  font-size: 48px; /* Adjust the size accordingly */
}

.count-display {
  text-align: center;
  margin: 20px 0;
}

.count-number {
  font-size: 4em;
  font-weight: bold;
  color: var(--ion-color-primary); /* Adjust to match your app's theme */
  margin: 0;
}

.count-unit {
  font-size: 1.2em;
  color: #6b6b6b;
  margin: 5px 0 0 0;
}

ion-card {
  --ion-card-background: var(--ion-color-dark-contrast);; /* Light background for contrast */
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ion-card-header {
  background-color: var(--ion-color-dark-contrast);
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}
.pb0{
  padding-bottom:0px
}
.noBorder{
  border:0px;
}

ion-item {
  --min-height: 80px;
}

ion-avatar {
  width: 60px;
  height: 60px;
}

ion-button.capsoff {
  text-transform: none;
  margin-top: 15px;
}

.align-badge {
  margin-left: 8px; /* Adjust distance from SMS label */
  font-size: 0.8em;
  text-align: center;
  white-space: normal; /* Allows text to wrap */
  line-height: 1.2;
}

.card-wider {
  width: 100%;
  max-width: 400px;
}

.count-display {
  text-align: center;
}

.button-row {
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.capsoff {
  text-transform: none !important; /* Ensure no caps on text */
}

ion-button {
  width: 100%;
  border-radius: 0; /* Align buttons perfectly side-by-side */
}

@media (min-width: 768px) {
  .card-wider {
    max-width: 500px;
  }
}
