.bgL {
    background-color: var(--ion-color-tertiary);
  }

  ion-content{
    --background: var(--ion-color-tertiary);
  }
  
  .no_results_item {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
  }
  
  .no_results_text {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    width: 95%;
    padding-bottom: 20px;
  }
  
  .imgCol {
    background-color: var(--ion-color-light-tint);
    border-radius: 10px;
  }
  
  .modal-button {
    font-size: 14px;
    text-transform: capitalize;
  }
  
  .center-title {
    text-align: center;
    font-size: 18px;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 20px !important;
    border: 2px dashed #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* Add position relative to parent */
  }
  
  .close-icon {
    position: absolute;
    /* Add position absolute to the icon */
    top: 5px;
    right: 5px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .edit-delete-wrapper {
    display: flex;
    align-items: center;
  }
  
  .portflolio_header {
    font-size: 13px;
  }
  
  .noCaps {
    text-transform: capitalize;
  }
  
  .modal-toolbar {
    --background: #007aff;
  }
  
  .center-title {
    margin: 0 auto;
  }
  
  .image-container {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .delete-button {
    background-color: transparent;
    color: #f44336;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .delete-button:hover {
    color: #d32f2f;
  }
  
  .name-input ion-label {
    font-size: 16px;
    color: #444;
    font-weight: bold;
  }
  
  .name-input ion-input {
    font-size: 16px;
  }
  
  .name-input ion-note[slot="helper"] {
    font-size: 14px;
    color: #666;
  }
  
  .name-input ion-note[slot="error"] {
    font-size: 14px;
    color: #f44336;
  }
  
  .square-image {
    width: 120px;
    height: 0;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
  }
  
  .square-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  
  .image-icon {
    font-size: 20px;
  }
  
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .portfolio-item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    position: relative;
  }
  
  .portfolio-item:hover .image-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }
  
  .image-wrapper {
    position: relative;
  }
  
  .image-wrapper ion-img {
    width: 100%;
  }
  
  .image-icon {
    font-size: 20px;
  }
  
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    z-index: 2;
    background-color: rgba(21, 0, 0, 0.6);
    color: white;
    word-break: break-word;
  }
  
  .portfolio-header h2 {
    margin: 0;
    font-size: 15px;
    overflow-wrap: break-word;
  }
  
  .icon {
    --background-color: white;
    font-size: 20px;
    min-width: 20px;
    align-items: right;
  }
  
  .icon2 {
    --background-color: white;
    font-size: 20px;
    min-width: 20px;
    margin-left: 5px;
    margin-right: 0;
    align-items: right;
  }
  
  .my-custom-alert {
    --background: #fff;
    /* Change the background color */
    --border-radius: 10px;
    /* Add rounded corners */
    --padding: 20px;
    /* Add some padding */
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    /* Add a subtle box shadow */
  }
  
  .alert-button-confirm {
    color: #fff;
    /* Change the color of the confirm button text */
    background-color: #007bff;
    /* Change the background color of the confirm button */
    border-radius: 5px;
    /* Add rounded corners to the confirm button */
  }
  
  .alert-button-cancel {
    color: #007bff;
    /* Change the color of the cancel button text */
    border-radius: 5px;
    /* Add rounded corners to the cancel button */
  }
  
  .album-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .album-name {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    margin-top: 8px;
  }
  
  ion-card-content {
    padding: 12px 16px;
    padding-top: 0px !important;
  }
  
  .selected-photo {
    border: 4px solid var(--ion-color-primary);
  }
  
  .page-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //object-fit: cover;
  }
  
  .cover-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //object-fit: cover;
  }
  
  .helper-text {
    text-decoration: underline;
    text-transform: none;
    white-space: normal;
  }
  
  .pr7 {
    padding-right: 7px;
  }
  
  .uniform-card {
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
  }
  
  .uniform-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .uniform-card-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    /* to ensure readability over the image */
  }