<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="calendar-outline" class="tab-icon"></ion-icon>
      <ion-label>Ατζέντα</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="krathseis">
      <ion-icon name="file-tray-full-outline" class="tab-icon"></ion-icon>
      <ion-label>Κρατήσεις</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="notifications">
      <ion-badge *ngIf="newNotifications" color="danger"></ion-badge>

      <ion-icon name="notifications-outline" class="tab-icon"></ion-icon>
      <ion-label>Ειδοποιήσεις</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openMenu()">
      <ion-badge *ngIf="newMessages" color="danger"></ion-badge>

      <ion-icon name="menu-outline" class="tab-icon"></ion-icon>
      <ion-label>Περισσότερα</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>