
ion-tab-bar, ion-tab-button{
  background-color: var(--ion-color-dark-contrast);
}   /* By default, hide the tabs */
ion-tab-bar {
    display: none;
  }  /* On screens that are 992px wide or less, show the tabs */
  @media screen and (max-width: 992px) {
    ion-tab-bar {
      display: flex; /* or 'block' depending on your design needs */
    }
  }

 