
  
  .no-capitalization {
    text-transform: none;
  }
  
  .scheduleIcon {
    cursor: pointer;
    color: var(--ion-color-danger);
    /* Set the desired color for the trash icon */
    //margin-left: 10px; /* Add desired spacing between interval and trash icon */
    flex-shrink: 0;
    /* Prevent icon from shrinking */
    width: 26px;
    height: 26px;
  }
  
  .invalid-input {
    --border-color: red;
    --highlight-color-focused: red;
    --highlight-color-invalid: red;
  }
  
  .capsOff{
    text-transform: none;
  }

  mat-form-field {
    display: block !important;
  }
  
  mat-hint.mat-mdc-form-field-hint.pl5 {
    padding-left: 0 !important;
  }
  
  ::ng-deep .special-action {
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0; // Adjust as necessary
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ::ng-deep .special-action mat-icon {
    margin-right: 5px; // Adjust as necessary
  }
  
  ::ng-deep .mat-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ::ng-deep .no-checkbox.mat-option .mat-pseudo-checkbox {
    display: none;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
  }
  
  .form-field {
    flex-grow: 1;
  }
  

  .blue-icon {
    margin-left:5px;
    color: var(--ion-color-primary);
  }
  

  .whiteback{
    background:white
  }

  