<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-menu-button color="light"></ion-menu-button> </ion-buttons>
    <ion-title color="light" class="ion-no-padding">
      <div class="vertical-align-content">
        <ion-icon color="light" (click)="goBack()" name="arrow-back"
          class="ion-padding-end ion-margin-start"></ion-icon>
        Κρατήσεις
      </div>
    </ion-title>
  </ion-toolbar>
  <div class="scrolling-wrapper backgroundChips">
    <ion-chip [class]="allChipClass" (click)="resetFilters()">
      Όλες
    </ion-chip> <ion-chip id="krathsh-trigger" (click)="openKrathshPopover()" [class]="krathshChip">
      <ion-label>Κατάσταση</ion-label>
      <ion-icon [color]="krathshChipIconCOlor" name="chevron-down-outline"></ion-icon> </ion-chip>
    <ion-popover trigger="krathsh-trigger" #krathshPop (ionPopoverDidDismiss)="closeKrathshPopover()">
      <ng-template>
        <ion-list class="backgroundGrid">
          <ion-item *ngFor="let item of itemsKrathsh" (click)="toggleItem(item)">
            <ion-label text-wrap>{{ getStatusTextInGreek(item.value) }}</ion-label>
            <ion-checkbox slot="end" [checked]="item.selected" ></ion-checkbox>
          </ion-item> </ion-list>
        <div class="button-container">
          <ion-button class="cancel-button" fill="outline" color="danger"
            (click)="closeKrathshPopover()">Άκυρο</ion-button> <ion-button class="apply-button" fill="solid"
            color="success" (click)="applyKrathshPopover()">Εφαρμογή</ion-button>
        </div>
      </ng-template>
    </ion-popover> <ion-chip class="not-selected-chip" (click)="searchKrathsh()">
      <ion-icon name="search-outline" color="light"></ion-icon>
      <ion-label>Αναζήτηση</ion-label>
    </ion-chip>
  </div>
</ion-header>
<ion-content *ngIf="initialized === false">
  <ion-spinner color="primary" class="ion-text-center ion-padding"></ion-spinner></ion-content>
<ion-content *ngIf="initialized" class="background">
  <ion-grid class="backgroundGrid">
    <ion-row class="ion-justify-content-center"> <ion-col size="12" class="ion-no-padding">
        <ion-grid class="ion-padding-top backgroundGrid">
          <ion-row>
            <ion-col offset="2" size="8">
              <ion-segment mode="ios" value="upcoming" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="upcoming">
                  <ion-label>Επερχόμενες</ion-label>
                </ion-segment-button>
                <ion-segment-button value="new">
                  <ion-label>Όλες</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="npt ion-no-padding">
    <ion-row class="ion-justify-content-center"> <ion-col size="12" class="ion-no-padding">


        <ion-item  lines="none" *ngIf="krathseis.length==0">
          <ion-grid>
            <ion-row>
              <ion-img class="no_results_item" src="../../../assets/imgs/NoResults.svg"> </ion-img>
            </ion-row>
            <ion-row> <ion-note class="no_results_text">
                Δεν έχετε επερχόμενες κρατήσεις.
              </ion-note>
            </ion-row>
          </ion-grid> </ion-item> <ion-list class="ion-no-padding backgroundGrid">
          <ion-grid>
            <ng-container *ngFor="let krathsh of krathseis; let i = index" >

              <ion-chip *ngIf="mode === 'upcoming' && (i === 0 || getDate(krathsh[3]) !== getDate(krathseis[i-1][3]))"
                color="primary" class=" date-chip ion-margin-top">
                <ion-label>{{ getDate(krathsh[3]) }}</ion-label>
              </ion-chip>
              <ion-item  [class]="getColorForStatus(krathsh[2])" (click)="goToKrathsh(krathsh[0])">
                <ion-avatar class="custAvatarHed">
                  <ion-img src="data:image/jpeg;base64,{{krathsh[10]}}"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2 class="customFontHeader">{{krathsh[4]}}</h2>
                  <ion-note class="customFontNote" *ngIf="mode=='upcoming'">Ώρα:  {{getTime(krathsh[3])}} • Τιμή: €{{krathsh[9]}}</ion-note>
                  <ion-note class="customFontNote" *ngIf="mode=='new'">{{krathsh[3]}} • Τιμή: €{{krathsh[9]}}</ion-note>

                </ion-label>
                <div class="align-right" *ngIf="krathsh[2]=='accepted'">
                  <ion-icon *ngIf="isMobile()" [color]="krathsh[5]=='true'?'success':'medium'" class="checkmark-icon"
                    name="checkbox-outline" (click)="checkIn(krathsh); $event.stopPropagation();"></ion-icon>
                   
            <ion-button *ngIf="!isMobile()"
                            class="rounded-btn align-right" [ngClass]="{'expanded': krathsh[5]=='checked_in'}"
                            [@buttonAnimation]="krathsh[5]=='true' ? 'expanded' : 'collapsed'"
                            [fill]="krathsh[5]=='true' ? 'solid' : 'outline'" size="small"
                            [class.green-border]="krathsh[5]!='true'" [color]="krathsh[5]=='true'?'success':'medium'"
                            (click)="checkIn(krathsh); $event.stopPropagation();"
                            style="text-transform: none; border-radius: 100px !important;">
                            <ion-icon *ngIf="krathsh[5]=='true'" [@checkmarkAnimation] name="checkmark-outline"
                              style="padding-right: 10px;"></ion-icon>
                            Έφτασε
                          </ion-button>
                </div>
              </ion-item>

            </ng-container>
           
          </ion-grid> <ion-infinite-scroll threshold="0" (ionInfinite)="loadData($event)"
            [disabled]="disableInfiniteScroll">
            <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Φόρτωση περισσότερων...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll> </ion-list> </ion-col>
    </ion-row>
  </ion-grid><ion-fab class="float fabButton" (click)="newKrathsh()">
    <ion-chip class="ion-padding" class="bg">
      <ion-icon name="add-circle" color="light" class="f30"></ion-icon>
      <ion-label color="light">Νέα</ion-label>
    </ion-chip>
  </ion-fab></ion-content><ion-footer></ion-footer>