ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  
  .custAvatarHed {
    width: 95px;
    height: 95px;
    border-style: solid;
    border-width: 4.5px;
    border-color: var(--ion-color-medium);
    margin-left:8px;
  }
  
  .bgL {
    background-color: var(--ion-color-primary-contrast);
  }
  
  .bgPr {
    background-color: var(--ion-color-primary);
  }
  
  .chip2 {
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--ion-color-medium);
  }
  
  .mg5 {
    margin: 5px;
  }
  
  .chipPr {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
  }
  
  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.md ion-item ion-icon {
    color: #616e7e;
  }

  .item {
    position: relative;
  }
  
  .badge {
    position: absolute;
    top: 18px; /* Adjust as needed */
    right: 35px; /* Adjust to avoid the arrow */
    height: 10px; /* Adjust as needed */
    width: 10px; /* Adjust as needed */
    background-color: rgb(222, 0, 0);
    border-radius: 50%;
    z-index: 1;
  }
  
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  .fi {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: 16px;
    color: var(--ion-color-medium-shade);
  }
  
  ion-item.selected {
    --color: var(--ion-color-primary);
  }
  
  ion-menu::part(backdrop) {
    background-color: rgb(99, 1, 227);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgb(99, 1, 227);
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  ion-button {
    text-transform: none;
  }
  
  .login_button {
    width: 60%;
    --border-radius: 10px;
  }
  
  .theContent {
    --ion-background-color: white;
  }
  
  .logout-icon {
    padding-right: 5px;
  }
  
  .left-icon {}
  
  .button-text {
    float: left;
  }
  
  .button-image {
    padding-right: 10px;
    height: 25px;
    ;
  }
  
  .customRow {
    background-color: var(--ion-color-primary-contrast);
    border-radius: 15px;
    border-color: blue;
    display: block;
    margin: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.20));
  }
  
  .custCol {
    border-color: blue;
    border-width: 3px;
  }
  
  .customItem {
    --border-color: blue;
    --border-width: 3px;
    ;
  }
  
  .buttonIcon {
    //padding-left:10px;
  }
  
  .theButton {
    --border-width: 1px;
  }
  
  .menuOption {
    --border-color: var(--ion-color-primary);
    --border-raius: 15px;
  }
  
  .menu-icon{
    width:28px;
    height:28px;
  }
  
  ion-split-pane {
    --side-width: 300px;
    --side-max-width: 300px;
    //border-radius: 10px;
    //border: 3px solid #c42e2e; /* Increase border width and use the 'solid' descriptor for clarity */      }      ion-menu {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Adding a subtle shadow for depth */      }      .settings-icon{
    color: var(--ion-color-primary);
  }

  .onesignal-custom-prompt {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
  }
  
  .onesignal-custom-prompt .title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .onesignal-custom-prompt .body {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .onesignal-custom-prompt .button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  