<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()" slot="start">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Ομάδα & Υπηρεσίες</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background">
  <ion-segment mode="md" class="capsoff" color="primary" [(ngModel)]="selectedSegment">
    <ion-segment-button value="team" (click)="loadTeam()" class="mr5 capsoff">
      <ion-label>Ομάδα</ion-label>
    </ion-segment-button>
    <ion-segment-button value="services" class="mr5 capsoff" (click)="loadServices()">
      <ion-label>Υπηρεσίες</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div *ngIf="selectedSegment === 'team'">
    <ion-grid class="ion-margin custom-grid max-height">
      <ion-row class="ion-justify-content-center ion-margin-top">

      </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center ion-margin-top">
      </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center ion-margin-top">
      </ion-row>
    </ion-grid>
  </div>


  <div *ngIf="selectedSegment === 'services'">
    <ion-grid class="ion-margin custom-grid max-height">
      <ion-row class="ion-justify-content-center ion-margin-top">

      </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center ion-margin-top">
      </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center ion-margin-top">
      </ion-row>
    </ion-grid>
  </div>



</ion-content>