.notif {
  margin-right: 10px;
  padding: 10px;
  background: none;
  size: 15px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.mt0 {
  margin-top: 0px;
}

.left-text {
  flex: 1;
  padding-right: 10px;
}

.end-button {
  padding-left: 10px;
  padding-top: 44px;
  font-size: 12px;
  cursor: pointer;
}

.cursor {
  cursor: pointer;

}


.title {
  padding-left: 5px;
  font-size: 15px;
  color: black
}

.center {
  margin: 0 auto;
  text-align: center;
}

.background {
  --background: var(--ion-color-tertiary);
}

.pr5 {
  padding-right: 3px;
}

.pr10 {
  padding-right: 10px;
  color: var(--ion-color-step-600, #666666);

}

.pt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-button {
  padding-left: 10px;
  padding-top: 44px;
  font-size: 12px;

}



.right-align-button {
  display: flex;
  justify-content: flex-end;
}

.p10 {
  padding: 10px;
}

.fontColor {
  color: var(--ion-color-dark-contrast)
}


.backgroundColor {
  background-color: var(--ion-color-dark-contrast);

}


.desktopGrid {
  margin-top: 16px;
  background-color: var(--ion-color-dark-contrast);
  border-radius: 25px;
}

.small-segment {
  max-width: 640px;


}



.pl0 {
  padding-left: 6px !important;

}

.textLeft {
  text-align: left;
}




.pt4 {
  padding-top: 4px;
}

.date-section {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  margin-top: 0px;
}

h3 {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}





.f400 {
  font-weight: 400;

}

.title_space {
  padding-left: 9px;
}

.pl5 {
  padding-left: 3px;
}



@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ringing-bell {
  animation: ring 0.75s ease-in-out infinite;
}

.logo-image {
  height: 60px;
  width: auto;
  text-align: left;
  align-items: left;
}


//Agenda
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#calendar {
  margin: 40px auto;
}

::ng-deep .fc .fc-timegrid-slot-minor {
  border-top-style: none !important;
  border-style: none;
}

ion-popover {
  &.width-80 {
    --width: 19%;
  }
}

:host ::ng-deep .custom-datetime {
  border-radius: 20px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;  /* This aligns items vertically */
  background: var(--ion-color-dark-contrast);
  z-index: 998;
}

.toolbar {
  display: flex;
  align-items: center;  /* Ensures buttons in the toolbar are also aligned vertically */
}

::ng-deep .time-div{
  padding-right: 0px;
  margin-top: -2px;
  width:100%;
  font-size:10px;
}
::ng-deep .fc thead {
  background-color: var(--ion-color-dark-contrast) !important;
}

::ng-deep .fc-col-header {
  position: sticky;
  top: 0;
  z-index: 998;
}

::ng-deep .fc-scrollgrid-section-body {
  top: 0;
  position: relative;
}

.todayButton {
  color: var(--ion-color-medium);
  font-weight: bold;
  padding: 0;
  line-height: 2.25em;
  font-size: 1em;
  margin: -25px;
  margin-top: -21px;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .todayButton {
    margin-top: -26px;

    font-size: 0.85em; /* Adjust the font size as needed */
    font-weight: normal;

  }
}



.datepicker-text {
  margin-left: 16px;
  margin-top: 2px;
  font-size: 1.3em;
  line-height: 1.666667em;
  color: var(--ion-color-medium);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .datepicker-text {
    margin-left: 6px;
    font-size: 1em; /* Adjust the font size as needed */
  }
}

:host ::ng-deep .fc-direction-ltr .fc-timegrid-slot-label-frame {
  color: #8c8c8c !important;
  font-size: 11px !important;
}

::ng-deep .fc-v-event {
  border: none !important;
}

::ng-deep .highlighted {
  color: #6055fd !important;
  font-size: 11.5px;
  text-align: center;
}

::ng-deep .current-slot {
 
  vertical-align: middle;
  align-items: center;
}
::ng-deep .current-time {
  color: #6055fd !important;
  font-size: 11.5px;
  text-align: right;
  bottom:6px !important;
}
::ng-deep .blue-line{
  width: 100%;
  color: #6055fd !important;
  margin-top: 10px;
  background: #6055fd !important;;
}
::ng-deep .fc col{
  width: 50px !important;
}
::ng-deep .fc-col-header-cell-cushion {
  color: var(--ion-color-dark) !important;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

::ng-deep .fc .fc-timegrid-slot {
  height: 30px !important;
  border-left: none !important;
  margin-left: 10px !important;
  cursor: pointer;
}

::ng-deep .fc .fc-col-header-cell-cushion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::ng-deep .fc .fc-timegrid-slot-label {
  vertical-align: baseline;
  border: none !important
}

::ng-deep .fc .fc-timegrid-col.fc-day-today {
  background-color: var(--ion-color-dark-contrast) !important;
}

::ng-deep .fc .fc-timegrid-col {
  background-color: var(--ion-color-dark-contrast) !important;
}

::ng-deep .fc-scrollgrid {
  border: none !important;
}

::ng-deep .fc-timegrid-axis {
  border: none !important 
}

::ng-deep .fc-col-header-cell {
  border-left: none !important 
}
::ng-deep .fc-day-mon,
::ng-deep .fc-day-tue,
::ng-deep .fc-day-wed,
::ng-deep .fc-day-thu,
::ng-deep .fc-day-fri {
  border-left: none !important;
  border-width: none;
  border-left: 4px solid black;
}


:host ::ng-deep .fc-license-message {
  display: none;
}

::ng-deep .fc-head-container th:not(.fc-col-header-cell) {
  border-bottom: none;
}

:host ::ng-deep .fc-col-header-cell {
  border-bottom: none !important;
}

::ng-deep .fc-resource {
  border-left: none !important;
  border-top: none !important;
}

:host ::ng-deep .solid-border {
  border-left: 2px solid #CCCCCC !important;
}

.full-calendar .fc-event {
  pointer-events: none;
  
}

@media only screen and (max-width: 600px) {
  .full-calendar {
    width: var(--full-calendar-width, auto);
    height: 98vh;
    overflow-x: scroll;
    scrollbar-width: thin;
  }

  .calendar-container {
    overflow-x: auto !important;
    scrollbar-width: thin !important;
  }

  ::ng-deep .fc-col-header {
    position: inherit;
  }

  ::ng-deep .fc thead {
    overflow-x: scroll !important;
    white-space: nowrap;
    scrollbar-width: thin;

  }

  ion-popover {
    &.width-80 {
      --width: 90%;
    }
  }

  ::ng-deep .fc-scrollgrid-section-body {
    top: 0;
    position: relative;
  }

}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .full-calendar {
    width: 95em;
    height: 98vh;
    overflow-x: scroll;
    scrollbar-width: thin;
  }

  .calendar-container {
    overflow-x: auto !important;
    scrollbar-width: thin !important;
  }

  ::ng-deep .fc-col-header {
    position: inherit;
  }
  .fc-bgevent {
    pointer-events: none; /* Prevent background events from being clickable */
  }
  
  
}

