
/* Service Description Styles */
.service-description p {
    color: var(--text-color);
    padding: 0 15px;
    text-align: justify;
  }
  
  /* Choices Styles */
  .choices {
    margin-top: 20px;
    padding: 0 15px;
  }

  .f13{
    font-size:13px;
  }
  
  .choice {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    
  }
  
  .choice h3 {
    color: var(--primary-color);
    margin-top: 0;
  }
  
  .choice p {
    color: var(--text-color);
    margin: 5px 0;
  }

  ion-item {
    --background-hover: none;

  }

  ion-content{
    --background:var(--ion-color-dark-contrast)
  }