<ion-header>
  <ion-toolbar>
    <ion-title>Scheduler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true" scrollY="true">
  <ion-grid>
    <!-- Time cell and Employee names -->
    <ion-row class="sticky-header-row">
      <ion-col class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-justify-content-center">
            <ion-label>25th of May</ion-label>
          </ion-row>
          <ion-row>
            <ion-col class="time-column flexible-time-column">
              
          </ion-col>
            <ion-col size="2" *ngFor="let employee of employees">
              {{ employee.name }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <!-- Time Slots Rows -->
    <ion-row *ngFor="let time of times">
      <ion-col class="time-column flexible-time-column">
        {{ time }}
    </ion-col>
      <ion-col size="2" *ngFor="let employee of employees">
        Task/Data
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
