<ion-content [fullscreen]="true">
  <ion-list class="list">
    <ion-text class="datepicker-text" slot="start" id="open-popover1">{{ dateExample | date: 'MMM yyyy' }}</ion-text>
    <ion-popover trigger="open-popover1" class="custom-datetime" cssClass="width-80 custom-popover">
      <ng-template>
        <ion-datetime locale="el-GR" presentation="date" [(ngModel)]="dateExample" class="custom-datetime"
          (ionChange)="onDateSelected($event)" size="cover"></ion-datetime>
      </ng-template>
    </ion-popover>
    <div class="toolbar">
      <ion-button (click)="prev()" id="prevButton" fill="clear" slot="start">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-button (click)="today()" id="todayButton" class="todayButton" fill="clear" slot="center">Today</ion-button>
      <ion-button (click)="next()" id="nextButton" fill="clear" slot="end">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </div>
  </ion-list>
  <!-- (mousemove)="handleMouseEnter($event)" -->
  <div #calendarContainer class="calendar-container">
    <full-calendar class="full-calendar" #calendar [options]="calendarOptions"     locale="el"
      [events]="eventsPromise | async"></full-calendar>
  </div>

</ion-content>