ion-toolbar {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
  }
  
  .no-capitalization {
    text-transform: none;
  }
  
  .scheduleIcon {
    cursor: pointer;
    color: var(--ion-color-danger);
    /* Set the desired color for the trash icon */
    //margin-left: 10px; /* Add desired spacing between interval and trash icon */
    flex-shrink: 0;
    /* Prevent icon from shrinking */
    width: 26px;
    height: 26px;
  }
  
  .invalid-input {
    --border-color: red;
    --highlight-color-focused: red;
    --highlight-color-invalid: red;
  }

  .pr5{
    padding-right:5px;
  }

  .pl5{
    padding-left:5px;
  }


  .customGrid{
    margin-top:16px;
    background: white;
    --background:white;
    border-radius: 10px;
  }

  .whiteBack{
    background: white;
  }

  .delete-icon {
    color: red;
}

.choose-category {
    color: green;
}


.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.f20{
  font-size:20px;
}