<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()" slot="start">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" text-wrap *ngIf="service_id==null">Νέα Υπηρεσία</ion-title>
    <ion-title color="light" text-wrap *ngIf="service_id!=null">Αλλαγή Υπηρεσίας</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="10">
        <ion-grid class="customGrid">
          <ion-row class="ion-justify-content-center">
            <ion-col size-lg="12" size-xs="12">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label class="f15">Όνομα Υπηρεσίας</mat-label>
                <input matInput maxlength="50" placeholder="Εισάγετε Όνομα" [(ngModel)]="serviceName" required>
                <mat-hint *ngIf="showErrors && isFieldInvalid(serviceName)" class="error-message">Υποχρεωτικό πεδίο</mat-hint>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="variations.length==0">
            <ion-col size-lg="6" size-xs="6">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label class="f15">Τιμή (€)</mat-label>
                <input matInput inputmode="numeric" [(ngModel)]="servicePrice" (input)="onInput($event)" required>
                <mat-hint *ngIf="showErrors && isFieldInvalid(servicePrice)" class="error-message">Υποχρεωτικό πεδίο</mat-hint>
              </mat-form-field>
            </ion-col>
            <ion-col size-lg="6" size-xs="6">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label class="f15">Διάρκεια (λεπτά)</mat-label>
                <input matInput inputmode="numeric" [(ngModel)]="serviceDuration" (input)="onDurationInput($event)" required>
                <mat-hint *ngIf="showErrors && isFieldInvalid(serviceDuration)" class="error-message">Υποχρεωτικό πεδίο</mat-hint>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="form-field-container" *ngIf="!onboarding">
                <mat-form-field appearance="fill" class="form-field">
                  <mat-label class="f15">Επιλογή Κατηγορίας</mat-label>
                  <mat-select [(value)]="serviceCategory" required>
                    <mat-option class="ion-no-padding" (click)="addCategory()">
                      <div class="special-action">
                        <mat-icon>add</mat-icon> Προσθήκη Κατηγορίας
                      </div>
                    </mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.name">
                      {{ category.name }}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="showErrors && isFieldInvalid(serviceCategory)" class="error-message">Υποχρεωτικό πεδίο</mat-hint>

                </mat-form-field>
                <div class="info-icon-container">
                  <mat-icon class="info-icon" #tooltip="matTooltip" (click)="tooltip.toggle()" matTooltipPosition="above" matTooltip="Μια κατηγορία υπηρεσιών ομαδοποιεί παρόμοιες υπηρεσίες, όπως π.χ. 'Κουρέματα' ή 'Νύχια'.">info_outline</mat-icon>
                </div>
              </div>
              <div class="form-field-container" *ngIf="onboarding">
                <mat-form-field appearance="fill" class="form-field">
                  <mat-label class="f15">Επιλογή Κατηγορίας</mat-label>
                  <mat-select [(value)]="serviceCategory" required>
                    <mat-option class="ion-no-padding" (click)="addCategory()">
                      <div class="special-action">
                        <mat-icon>add</mat-icon> Προσθήκη Κατηγορίας
                      </div>
                    </mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category">
                      {{ category }}
                    </mat-option>
                    
                  </mat-select>
                  <mat-hint *ngIf="showErrors && isFieldInvalid(serviceCategory)" class="error-message">Υποχρεωτικό πεδίο</mat-hint>

                </mat-form-field>
                <div class="info-icon-container">
                  <mat-icon class="info-icon" #tooltip="matTooltip" (click)="tooltip.toggle()" matTooltipPosition="above" matTooltip="Μια κατηγορία υπηρεσιών ομαδοποιεί παρόμοιες υπηρεσίες, όπως π.χ. 'Κουρέματα' ή 'Νύχια'.">info_outline</mat-icon>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label class="f15">Περιγραφή Υπηρεσίας</mat-label>
                <textarea matInput maxlength="270" placeholder="Εισάγετε Περιγραφή" [(ngModel)]="serviceDescription"></textarea>
                <mat-hint>Προαιρετικό</mat-hint>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center ion-margin-top">
            <ion-col size="12">
              <ion-item-divider color="light" class="whiteBack">
                <ion-label>
                  Ποιοι προσφέρουν την υπηρεσία;
                </ion-label>
              </ion-item-divider>
              <ion-item lines="full">
                <ion-label>Επιλογή όλων</ion-label>
                <ion-checkbox slot="start" [(ngModel)]="selectAll" (ionChange)="selectAllPeople()"></ion-checkbox>
              </ion-item>
              <ion-list class="ion-no-padding">
                <ion-item lines="full" *ngFor="let person of people">
                  <ion-label>{{person.surname}}&nbsp;{{person.name}}</ion-label>
                  <ion-checkbox slot="start" [(ngModel)]="person.selected" (ionChange)="checkIfAllSelected()"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let variation of variations; let i = index">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8" offset-lg="1">
        <ion-grid class="customGrid">
          <ion-row class="ion-justify-content-center">
            <ion-col size-lg="12" size-xs="12">
              <ion-icon name="trash" slot="end" color="danger"></ion-icon>
              <mat-form-field appearance="fill" class="form-field">
                <mat-label class="f15">Όνομα Τιμολόγησης</mat-label>
                <input matInput maxlength="50" placeholder="π.χ. κοντά μαλλιά" [(ngModel)]="variation.name">
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-lg="6" size-xs="6">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label class="f15">Τιμή (€)</mat-label>
                <input matInput inputmode="numeric" [(ngModel)]="variation.price" (input)="onInput($event)" placeholder="0.00">
              </mat-form-field>
            </ion-col>
            <ion-col size-lg="6" size-xs="6">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label class="f15">Διάρκεια (λεπτά)</mat-label>
                <input matInput inputmode="numeric" [(ngModel)]="variation.duration" (input)="onDurationInput($event)" placeholder="15">
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="1" class="icon-container">
        <ion-icon name="trash-outline" color="danger" class="f20 cursor" (click)="deleteVariation(i)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid (click)="newVariation()">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8">
        <div style="display: flex; align-items: center;" class="pl5 cursor">
          <ion-icon name="add-circle-outline" color="primary" class="pr5"></ion-icon>
          <ion-note color="primary">
            Προσθήκη επιπλέον τρόπου τιμολόγησης
          </ion-note>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6" (click)="deleteService()" class="ion-no-padding" *ngIf="service_id!=null">
        <ion-button size="full" color="danger" class="capsoff ion-no-margin">
          <ion-text color="light">Διαγραφή</ion-text>
        </ion-button>
      </ion-col>
      <ion-col [size]="service_id!=null?'6':'12'" class="ion-no-padding">
        <ion-button size="full" color="primary" (click)="saveService()" class="capsoff ion-no-margin">
          <ion-text color="light">Αποθήκευση</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
