<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()" slot="start">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" text-wrap *ngIf="service_id==null">Νέα Υπηρεσία</ion-title>
    <ion-title color="light" text-wrap *ngIf="service_id!=null">Αλλαγή Υπηρεσίας</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content class="background">
  <ion-grid>
    <ion-row class="ion-justify-content-center">

      <ion-col size-lg="8">
        <ion-grid class="customGrid">
          <ion-row class="ion-justify-content-center ">
            <ion-col size-lg="12" size-xs="12">
              <ion-input color="primary" [counter]="true" maxlength="50" label="Όνομα Υπηρεσίας"
                label-placement="stacked" fill="solid" placeholder="Εισάγετε Όνομα"
                [(ngModel)]="serviceName"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="variations.length==0">
            <ion-col size-lg="6" size-xs="6">
              <ion-input inputmode="numeric" color="primary" [(ngModel)]="servicePrice" (ionInput)="onInput($event)" #ionInputEl
                label="Τιμή (€)" label-placement="stacked" fill="solid" placeholder="0.00"></ion-input>
            </ion-col>
            <ion-col size-lg="6" size-xs="6">
              <ion-input inputmode="numeric" color="primary" [(ngModel)]="serviceDuration" (ionInput)="onDurationInput($event)"
                label="Διάρκεια (λεπτά)" label-placement="stacked" fill="solid" placeholder="15"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">



              <ion-select *ngIf="onboarding!=true" label="Επιλογή Κατηγορίας" label-placement="stacked" fill="solid"
                okText="Επιβεβαιωση" cancelText="Ακυρο" [(ngModel)]="serviceCategory">
                <ion-select-option *ngFor="let category of categories"
                  [value]="category.name">{{category.name}}</ion-select-option>

              </ion-select>
              <ion-select *ngIf="onboarding==true" label="Επιλογή Κατηγορίας" label-placement="stacked" fill="solid"
                okText="Επιβεβαιωση" cancelText="Ακυρο" [(ngModel)]="serviceCategory">
                <ion-select-option *ngFor="let category of categories"
                  [value]="category">{{category}}</ion-select-option>

              </ion-select>

            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-textarea labelPlacement="stacked" [(ngModel)]="serviceDescription" helperText="Προαιρετικό"
                color="primary" [counter]="true" maxlength="70" fill="solid" label="Περιγραφή Υπηρεσίας"
                labelPlacement="stacked" placeholder="Εισάγετε Περιγραφή"></ion-textarea>
            </ion-col>

          </ion-row>

          <!-- ... (existing content) ... -->

          <ion-row class="ion-justify-content-center ion-margin-top">
            <ion-col size="12">
              <ion-item-divider color="light" class="whiteBack">
                <ion-label>
                  Ποιοι προσφέρουν την υπηρεσία;
                </ion-label>
              </ion-item-divider>

              <ion-item lines="full">
                <ion-label>Επιλογή όλων</ion-label>
                <ion-checkbox slot="start" [(ngModel)]="selectAll" (ionChange)="selectAllPeople()"></ion-checkbox>
              </ion-item>

              <ion-list class="ion-no-padding">
                <ion-item lines="full" *ngFor="let person of people">
                  <ion-label>{{person.surname}}&nbsp;{{person.name}}</ion-label>
                  <ion-checkbox slot="start" [(ngModel)]="person.selected"
                    (ionChange)="checkIfAllSelected()"></ion-checkbox>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>


        </ion-grid>
      </ion-col>
    </ion-row>


  </ion-grid>

  <ion-grid *ngFor="let variation of variations; let i = index">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8" offset-lg="1">
        <ion-grid class="customGrid">
          <ion-row class="ion-justify-content-center">
            <ion-col size-lg="12" size-xs="12">
              <ion-icon name="trash" slot="end" color="danger"></ion-icon>
              <ion-input color="primary" [counter]="true" maxlength="50" label="Όνομα Τιμολόγησης"
                label-placement="stacked" fill="solid" placeholder="π.χ. κοντά μαλλιά"
                [(ngModel)]="variation.name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-lg="6" size-xs="6">
              <ion-input inputmode="numeric" color="primary" [(ngModel)]="variation.price" (ionInput)="onInput($event)" #ionInputEl
                label="Τιμή (€)" label-placement="stacked" fill="solid" placeholder="0.00"></ion-input>
            </ion-col>
            <ion-col size-lg="6" size-xs="6">
              <ion-input inputmode="numeric" color="primary" [(ngModel)]="variation.duration" (ionInput)="onDurationInput($event)"
                label="Διάρκεια (λεπτά)" label-placement="stacked" fill="solid" placeholder="15"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="1" class="icon-container">
        <ion-icon name="trash-outline" color="danger" class="f20 cursor" (click)="deleteVariation(i)"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid (click)="newVariation()">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8">
        <div style="display: flex; align-items: center;" class="pl5 cursor">
          <ion-icon name="add-circle-outline" color="primary" class="pr5"></ion-icon>
          <ion-note color="primary">
            Προσθήκη επιπλέον τρόπου τιμολόγησης
          </ion-note>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6" (click)="deleteService()" class="ion-no-padding" *ngIf="service_id!=null">
        <ion-button size="full" color="danger" class="capsoff ion-no-margin">
           <ion-text color="light">Διαγραφή</ion-text> 
        </ion-button>
      </ion-col>
      <ion-col [size]="service_id!=null?'6':'12'" class="ion-no-padding">
        <ion-button [disabled]="isSaveDisabled()" size="full" color="primary" (click)="saveService()" class="capsoff ion-no-margin">
          <ion-text color="light">Αποθήκευση</ion-text> 

        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>