<ion-header> <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-button color="light" (click)="goBack()" slot="start" fill="clear">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button> </ion-buttons>
    <ion-title color="light">Επεξεργασία Προφίλ</ion-title> </ion-toolbar></ion-header>
<ion-content *ngIf="initialized === false">
  <ion-spinner color="primary" class="ion-text-center ion-padding"></ion-spinner></ion-content>
<ion-content *ngIf="initialized==true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-no-padding"> <ion-grid class="bgL">
          <ion-row class="ion-justify-content-center ion-padding">
            <ion-col size="5" md-size="2" lg-size="2" class="custCol ion-no-padding ion-padding-start ion-padding-end">
              <ion-avatar class="custAvatarHed">
                <ion-img [src]="(image === 'default' ? '../../../assets/icon/default-profile.png' :image)"></ion-img>

              </ion-avatar>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <h3 class="ion-no-margin"> {{name}}</h3>
              <ion-note class="mg5">{{email}}</ion-note><br>
              <ion-chip class="chipPr shadow" (click)="presentActionSheetImages()">Φωτογραφίες Βιτρίνας</ion-chip>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <input #_fileInput type="file" (change)="openCropperDialog(getFileUrl(_fileInput))" accept="image/png, image/jpg, image/jpeg"
                hidden> </ion-col>
          </ion-row>
          <ion-row class="ion-margin">
            <ion-list class="w100 ion-no-padding bgL ">
              <ion-item [class]="businessNameItemClass" (ionChange)="businessNameTest()" (keyup)="businessNameTest()">
                <ion-label position="floating">Όνομα Επιχείρησης</ion-label>
                <ion-input [(ngModel)]="name" [value]="name"></ion-input>
                <ion-icon [class]="businessNameVariableClass " slot="end" [name]="businessNameIconName"
                  [color]="businessNameColor"></ion-icon>
              </ion-item>
             
              <ion-item lines="none">
                <mat-form-field appearance="fill" style="width: 100%;">
                  <mat-label>Διεύθυνση καταστήματος</mat-label>
                  <input type="text" matInput [(ngModel)]="autocompleteInput" (ngModelChange)="searchAddress()"
                    [matAutocomplete]="auto" style="width: calc(100% - 48px);" />
                  <div matSuffix *ngIf="loadingOn" style="margin-right: 10px;">
                    <ion-spinner name="crescent" color="primary"></ion-spinner>
                  </div>
                  <mat-autocomplete #auto="matAutocomplete" class="custom-autocomplete">
                    <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion.address"
                      (click)="saveAddress(suggestion)">
                      {{ suggestion.address }}
                    </mat-option>
                    <mat-option *ngIf="!loadingOn && suggestions.length === 0" disabled>
                      Δεν υπάρχουν αποτελέσματα
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </ion-item>
              <ion-select [multiple]="true" label="Κατηγορίες" label-placement="floating" fill="solid"
                class="ion-padding-start ion-padding-end ion-margin-top ion-margin-bottom" okText="Επιλογη"
                cancelText="Ακυρο" [(ngModel)]="expert_categories">
                <ion-select-option *ngFor="let category of all_categories"
                  [value]="category.name">{{category.name}}</ion-select-option>
              </ion-select>
              <ion-item [class]="phoneDisplayedItemClass" (ionChange)="mobileCheck()" (keyup)="mobileCheck()">
                <ion-label position="floating">Εμφανιζόμενο Τηλέφωνο</ion-label>
                <ion-input disabled="false" [(ngModel)]="displayed_phone" [value]="displayed_phone"></ion-input>
                <ion-icon [class]="phoneVariableClass" slot="end" [name]="phoneIconName" [color]="phoneColor"
                  *ngIf="displayed_phone!=null && displayed_phone.length>0"></ion-icon>
              </ion-item>

              <ion-item class="ion-margin"
                [class]="{'ion-invalid': facebookForm.invalid && facebookForm.touched && facebookLink}">
                <ion-label position="floating">Facebook Profile</ion-label>
                <ion-input [(ngModel)]="facebookLink" [value]="facebookLink" name="facebookLink" #facebookForm="ngModel"
                  pattern="https?://.+"></ion-input>
                <ion-icon slot="end" name="logo-facebook" class="fblogo"></ion-icon>
                <ion-text color="danger"
                  *ngIf="facebookForm.errors?.['pattern'] && facebookForm.touched && facebookLink">
                  Το link πρέπει να περιέχει το "https://"
                </ion-text>
              </ion-item>

              <ion-item class="ion-margin"
                [class]="{'ion-invalid': instagramForm.invalid && instagramForm.touched && instagramLink}">
                <ion-label position="floating">Instagram Profile</ion-label>
                <ion-input [(ngModel)]="instagramLink" [value]="instagramLink" name="instagramLink"
                  #instagramForm="ngModel" pattern="https?://.+"></ion-input>
                <ion-icon slot="end" name="logo-instagram" color="danger"></ion-icon>
                <ion-text color="danger"
                  *ngIf="instagramForm.errors?.['pattern'] && instagramForm.touched && instagramLink">
                  Το link πρέπει να περιέχει το "https://"
                </ion-text>
              </ion-item>

              <ion-item class="ion-margin"
                [class]="{'ion-invalid': tiktokForm.invalid && tiktokForm.touched && tiktokLink}">
                <ion-label position="floating">TikTok Profile</ion-label>
                <ion-input [(ngModel)]="tiktokLink" [value]="tiktokLink" name="tiktokLink" #tiktokForm="ngModel"
                  pattern="https?://.+"></ion-input>
                <ion-icon slot="end" name="logo-tiktok" color="secondary"></ion-icon>
                <ion-text color="danger" *ngIf="tiktokForm.errors?.['pattern'] && tiktokForm.touched && tiktokLink">
                  Το link πρέπει να περιέχει το "https://"
                </ion-text>
              </ion-item>
              <ion-item class="ion-margin ">
                <ion-label position="floating">Προσωπικό Κινητό</ion-label>
                <ion-input disabled="true" [value]="phone"></ion-input>
              </ion-item> </ion-list>
          </ion-row>
        </ion-grid></ion-col>
    </ion-row>
  </ion-grid></ion-content>
<ion-footer (click)="save()"> <ion-button [disabled]="saveButtonDisabled()" expand="full" color="primary"
    class="ion-no-margin">
    <ion-label class="ion-text-center capsoff" color="light">Αποθήκευση</ion-label>
  </ion-button></ion-footer>