<ion-header> <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()" slot="start" fill="clear">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-grid>
      <ion-row class="ion-justify-content-center ">
        <ion-col size="12">
          <ion-searchbar class="search" [(ngModel)]="searchTerm" (ionInput)="onSearch($event)"
            placeholder="Αναζήτηση υπηρεσίας"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar></ion-header>
<ion-content *ngIf="initialized==true">
  <ion-grid class="servicesGrid">


    <ion-row class="ion-padding">

      <ion-segment [(ngModel)]="categoryServiceSegment" scrollable value="all" mode="ios" class="small-segment">
        <ion-segment-button value="all" (click)="onAllSegmentClicked()">
          <ion-label>Όλες</ion-label>
        </ion-segment-button>
        <ion-segment-button value="packages" (click)="goToPackages()">
          <ion-label>Πακέτα</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="category.id" *ngFor="let category of serviceCategories"
          (click)="getServicesSegment(category)">
          <ion-label>{{category.name}} </ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    <ion-row *ngIf="isSearching" class="ion-margin-top mb30">
      <ion-list lines="inset" class="ion-no-padding servicesList ">
        <ion-item class="cursor" *ngFor="let service of filteredServices" (click)="toggleSelectService(service)">

          <div [class]="service.type=='package'?'package-line':'normal-line'"></div>
          <ion-label>
            <h2>{{ service.name }}</h2>
            <ion-note *ngIf="service.type!='package'">Τιμή: €{{ service.price }} • Διάρκεια: {{ service.duration }}
              λεπτά</ion-note>
            <ion-note *ngIf="service.type == 'package'">
              Τιμή: €{{ service.price }} • {{ service.services.length }}
              {{ service.services.length === 1 ? 'υπηρεσία' : 'υπηρεσίες' }}
            </ion-note>
          </ion-label>
          <ion-icon *ngIf="!service.isSelected" name="add-circle-outline" slot="end"
            (click)="toggleSelectService(service)"></ion-icon>

        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-list lines="inset" class="ion-no-padding servicesList scrollable-list" *ngIf="!isSearching">
        <ion-item class="cursor" *ngFor="let service of services" (click)="toggleSelectService(service)">
          <ion-item *ngFor="let item of combinedList" (click)="toggleSelectService(item)"></ion-item>
          <div [class]="service.type=='package'?'package-line':'normal-line'"></div>
          <ion-label>
            <h2>{{ service.name }}</h2>
            <ion-note *ngIf="service.type!='package'">Τιμή: €{{ service.price }} • Διάρκεια: {{ service.duration }}
              λεπτά</ion-note>
            <ion-note *ngIf="service.type == 'package'">
              Τιμή: €{{ service.price }} • {{ service.services.length }}
              {{ service.services.length === 1 ? 'υπηρεσία' : 'υπηρεσίες' }}
            </ion-note>

          </ion-label>
          <ion-icon *ngIf="!service.isSelected" name="add-circle-outline" slot="end"
            (click)="toggleSelectService(service)"></ion-icon>

        </ion-item>
      </ion-list>

    </ion-row>
    <ion-row class="ion-margin-top mt30" *ngIf="selectedServicesAndPackages && selectedServicesAndPackages.length != 0">
      <ion-list lines="inset" class="ion-no-padding servicesList">
        <ion-item class="cursor" *ngFor="let service of selectedServicesAndPackages"
          (click)="toggleSelectService(service)">
          <div class="success-line"></div>
          <ion-label>
            <h2>{{ service.name }}</h2>
            <ion-note *ngIf="service.type!='package'">Τιμή: €{{ service.price }} • Διάρκεια: {{ service.duration }}
              λεπτά</ion-note>
            <ion-note *ngIf="service.type == 'package'">
              Τιμή: €{{ service.price }} • {{ service.serviceObjects.length }}
              {{ service.serviceObjects.length === 1 ? 'υπηρεσία' : 'υπηρεσίες' }}
            </ion-note>
          </ion-label>
          <ion-icon color="primary" class="cursor" *ngIf="!service.isSelected" name="add-circle-outline"
            slot="end"></ion-icon>
          <ion-icon color="danger" class="cursor" *ngIf="service.isSelected" name="remove-circle-outline"
            slot="end"></ion-icon>
        </ion-item>
        <!-- ... Repeat for other items ... -->
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer (click)="saveServices()"> <ion-button class="ion-no-margin"
    [disabled]="selectedServicesAndPackages.length==0" expand="full" color="primary">
    <ion-label class="ion-text-center capsoff">Αποθήκευση</ion-label>
  </ion-button></ion-footer>