/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

ion-modal {
  animation: fadeInUp 0.5s ease forwards;
}

.w100 {
  width: 100%;
}

.w95 {
  width: 95%;
}

.w55 {
  width: 55%
}

.rad {
  border-radius:10px !important;
}

.head2 {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  //background-color: var(--ion-color-primary);
  background: linear-gradient(162.61deg, #6055FD 15.44%, #7268fd 89.47%);
  height: 300px;
}

.head3 {
  border-bottom-right-radius: 32%;
  border-bottom-left-radius: 35%;
  height: 375px;
  background-color: var(--ion-color-primary)
}

ion-content {
  --ion-background-color: var(--ion-color-tertiary);
}

.ios ion-datetime{
  background:var(--ion-color-dark-contrast)
}


ion-toolbar {
  --background: var(--ion-color-dark-contrast)
}

ion-item {
  --ion-background-color: var(--ion-color-primary-contrast);
}

.ion-item2 {
  --ion-background-color: var(--ion-color-light);
}

.f30 {
  font-size: 30px;
}

.force-wrap{
  white-space: normal !important;
  word-break: break-word !important;
}

.float {
  position: fixed;
  bottom: 5%;
  right: 3%;
}

.bg {
  // background-color: var(--ion-color-primary);
  background: linear-gradient(208.93deg, #FFFFFF -103.04%, #6055FD 77.05%);
}

.cusItemPrimary {
  --ion-background-color: var(--ion-color-primary);
}

.cusItemPrimary {
  --ion-background-color: var(--ion-color-primary);
}

.pt7 {
  padding-top: 6px;
}

.pt5 {
  padding-top: 5px;
}

.background {
  --background: var(--ion-color-tertiary);
}

.backgroundGrid {
  background: var(--ion-color-tertiary);
}

ion-segment-button::part(indicator-background) {
  background: var(--ion-color-dark-contrast);
}

.transparent{
  --ion-background-color: transparent !important;
  --background:transparent !important;
  background:transparent !important
}


ion-segment-button{
  --color:var(--ion-color-dark) !important;
  --indicator-color: white;
}

ion-segment {
  --background: var(--ion-color-primary);
}

.mgSE8 {
  margin-left: 8px;
  margin-right: 8px;
}

.custModal {
  --border-radius: 50px;
}

.review-modal {
  --height: 60%;
  --border-radius: 16px;
  --backdrop-opacity: 0.5;
  backdrop-filter: blur(3px);

  &::part(handle) {
    background: var(--ion-color-primary);
    width: 150px;
    height: 6px;
  }

  &::part(content) {
    border-radius: 0px;
    // box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 32%);
  }
}

ion-spinner {
  display: block;
  margin: auto;
}

* {
  scrollbar-width: thin;
}

.vertical-align {
  display: inline-block;
  vertical-align: middle;
}

ion-alert {
  --min-width: 20% !important;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  ion-alert {
    --min-width: 70% !important;
  }
}
.custom-toast {
  --background: #1c1c1e !important;
  --color: #fff !important;
  --padding: 0.5rem;
  --border-radius: 0.5rem;
  --max-width: calc(100% - 2rem);
  --text-align: left;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  line-height: 1.25rem;
}

.custom-toast::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-color: transparent transparent var(--background) transparent;
}

.custom-toast::after {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--background);
  border-radius: 50%;
}

ion-header,
ion-footer {
  background-color: white;
}

.scroll-width-thin {
  scrollbar-width: thin;
}

ion-modal {
  --height: 80%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --min-width: 300px;
}

ion-modal ion-toolbar {
  --background: var(--ion-color-primary); // primary background color
}

/* This will apply when the screen width is 600px or less */
@media screen and (max-width: 600px) {
  ion-modal {
    --height: 100%;
  }
}

ion-modal::part(backdrop) {
  background: rgb(69, 143, 255);
  opacity: 1;
}

.cursor {
  cursor: pointer;
}

.modal_button {}

.modal-toolbar {
  --opacity: 100 !important;
}

.float {
  position: fixed;
  bottom: 5%;
  right: 3%;
}

.ios ion-toolbar{
  --border-width: 0px !important;
}

.vertical-align-content {
  display: flex;
  align-items: center;
  flex: 1;
  /* occupy the full space */
}

.capsoff {
  text-transform: none !important;
}

.mat-mdc-standard-chip {
  --mdc-theme-primary:
}

ion-input {
  --border-color:var(--ion-color-primary) !important;
  --highlight-color-focused:var(--ion-color-primary) !important;
  --highlight-color-valid:var(--ion-color-primary) !important;
}


ion-textarea {
  --border-color:var(--ion-color-primary) !important;
  --highlight-color-focused:var(--ion-color-primary) !important;
  --highlight-color-valid:var(--ion-color-primary) !important;
}

ion-select {
  --border-color:var(--ion-color-primary) !important;
  --highlight-color-focused:var(--ion-color-primary) !important;
  --highlight-color-valid:var(--ion-color-primary) !important;
  --background:white !;
}

.mat-mdc-text-field-wrapper{
  background: var(--ion-color-dark-contrast) !important
}

.mat-mdc-autocomplete-panel{
  background: var(--ion-color-dark-contrast) !important

}


.mat-mdc-autocomplete-trigger{
  color: var(--ion-color-dark) !important

}

.mdc-list-item__primary-text{
  color: var(--ion-color-dark) !important

}

.mdc-floating-label{
  color: var(--ion-color-dark) !important

}

.location-search-icon {
  color: var(--ion-color-primary);
  margin-right: 5px;
}

.loading-spinner mat-spinner {
  width: 24px;
  height: 24px;
}

.mat-mdc-select-value-text{
  color:var(--ion-color-dark) !important;
}
 .mat-mdc-select-panel{
  padding:0px !important;
}


.mat-button-toggle {
  background: var(--ion-color-dark-contrast) !important;
  color: var(--ion-color-dark) !important;
}

.mat-button-toggle-group {
  border-radius: 20px !important;
  border: 1px solid var(--ion-color-dark) !important;
  margin-top: 10px;
  line-height: 0px;
}

.mat-button-toggle-checked{
  background: var(--ion-color-primary) !important;
}

.mat-mdc-menu-panel{
  background:var(--ion-color-dark-contrast);
}


.fc-col-header-cell-cushion img {
  border-radius: 20px;
}

.fc-timegrid-slot-label-cushion{
  padding:0px !important;
}

.fc-timegrid-slot{
  //background:var(--ion-color-dark-contrast)
  //top:10px;
}

.fc-timegrid-slot{
  bottom:10px;
}

.fc-timegrid-body{
  margin-top:9px;
}
.fc-view-container { 
  overflow-x: scroll; 

}

.fc-timegrid-axis{
  overflow-x: scroll; 
  position: sticky;


}

.googleImage{
  width:80px;
  height:auto;
}

 .ios ion-searchbar {
      color: var(--ion-color-dark) !important;
  }


ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid  var(--ion-color-primary);
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: var(--ion-color-primary);
}

.mdc-text-field__input{
  color:var(--ion-color-dark) !important
}

.mdc-menu-surface.mat-mdc-select-panel{
  background-color: var(--ion-color-dark-contrast);
  border: 1px solid var(--ion-color-dark);
}



ion-content::part(scroll) {
  padding-top: var(--ion-safe-area-top, 0) !important;
}


.close-ico{
  color:#595959  !important;
  font-size:22px !important; 
  display:none !important; //tbr?

}

.toast-title-content{
  color:#595959  !important;

}

.text-wrapper{
  color:#484848;
}

.ap-icon-warning{
  color:orange !important
}

.ed-btn-danger{
  font-size:16px; //tbr
}


ion-button ion-icon[name="arrow-back"] { //tbr
  font-size: 33px; 
}

.large-input-item {
  --min-height: 70px !important; //tbr
  --height: 70px !important; //tbr

}

.native-input{
  height: 70px !important; //tbr

}


