<ion-content>   <ion-grid class="ion-no-padding">
  <ion-row class="bgL">
    <ion-button size="medium" (click)="goBack()"  fill="clear" class="back">
      <ion-icon name="arrow-back" color="light"></ion-icon>
  </ion-button> 
    <ion-col size="12"  class="head2 ion-text-center ion-padding-top pad newHeight">
      <svg class="logoSvg" width="119" height="119" viewBox="0 0 119 119" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle opacity="0.27" cx="59.5" cy="59.5" r="59.5" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M87.5908 52.4474C88.1575 53.3924 88.3464 54.5259 88.3464 55.6598V81.925C88.3464 86.0818 84.9451 89.4831 80.9771 89.4831H37.3273C33.3593 89.4831 29.958 86.0818 29.958 81.925V55.6598C29.958 54.5259 30.1469 53.3924 30.7137 52.4474L52.8219 70.777C56.2231 73.6115 61.8918 73.6115 65.482 70.777L87.5902 52.4474H87.5908Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M40.1623 55.6605L32.9819 49.6136L55.0901 31.4732C57.1686 29.5836 60.9476 29.3947 63.2154 31.2842L85.3236 49.6139L78.1433 55.6608V51.1256C78.1433 48.8583 76.4426 47.1576 74.3641 47.1576H43.942C41.8635 47.1576 40.1628 48.8583 40.1628 51.1256V55.6608L40.1623 55.6605Z" fill="white"/>
        <path d="M49.4223 53.2042C48.0995 53.2042 48.0995 51.3147 49.4223 51.3147H68.8849C70.2077 51.3147 70.2077 53.2042 68.8849 53.2042H49.4223Z" fill="white"/>
        <path d="M49.4223 60.9505C48.0995 60.9505 48.0995 59.061 49.4223 59.061H68.8849C70.2077 59.061 70.2077 60.9505 68.8849 60.9505H49.4223Z" fill="white"/>
        <path d="M49.4223 57.172C48.0995 57.172 48.0995 55.2825 49.4223 55.2825H68.8849C70.2077 55.2825 70.2077 57.172 68.8849 57.172H49.4223Z" fill="white"/>
      </svg>
   </ion-col>
  </ion-row>
</ion-grid>  <ion-grid class="ion-no-padding">
  <ion-row class="ion-justify-content-center"> 
    <ion-col  size="12"  sizeXs="12"  sizeSm="7" sizeMd="5.5" sizeLg="4" sizeXl="4" class="ion-no-padding">    
      <ion-grid class="custGrid ion-margin-bottom">
   <ion-row class="ion-justify-content-center">
  <ion-col size="10" >
   <ion-card class="bordernon w100 bgL" >
    <ion-card-header>
      <ion-card-title>
       <h3 ><b>Ξεχάσατε τον κωδικό σας;</b></h3> 
      </ion-card-title>
      <ion-card-subtitle>
        Εισάγετε το E-mail με το οποίο έχετε κάνει εγγραφή για να δημιουργήσετε ένα νέο κωδικό.
      </ion-card-subtitle>
    </ion-card-header>
     <ion-grid>
      <ion-row class="ion-margin">
        <ion-list class="w100 bgL"> 
          <ion-item [class]="variableClass">
            <ion-label position="floating">Email</ion-label> 
            <ion-input [(ngModel)]="email" (ionChange)="emailCheck($event)" (keyup)="emailCheck($event)" ></ion-input>
            <ion-icon class="ion-margin-top pt7" slot="end" [name]="variableIcon" [color]="variableColor"></ion-icon>
          </ion-item> 
        </ion-list>
      </ion-row> 
      <ion-row class="ion-margin">
        <ion-col size="12">
          <ion-item color="primary" button class="reset_button" (click)="goHome()" [disabled]="variableDisabled" >
            <ion-label class="ion-text-center">Αποστολή E-mail επαναφοράς</ion-label> 
          </ion-item>
        </ion-col>
      </ion-row> 
     </ion-grid> 
    </ion-card>
  </ion-col>
  </ion-row>
</ion-grid></ion-col>
</ion-row>
</ion-grid>
</ion-content>
