.no-capitalize ion-label {
  text-transform: none !important;
}

.scrollable-list {

  scrollbar-width: thin;
  /* scrollbar-color:var(--ion-color-primary) var(--ion-color-primary-contrast); */
}

.time-selection {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  background-color: white;
}

.gridBackground{
background: var(--ion-color-dark-contrast);
}

.mr5 {
  margin-right: 5px;
}

.smaller-font {
  margin-left: 10px;
  font-size: 14px;
}

.scheduleIcon {
  cursor: pointer;
  color: var(--ion-color-danger);
  /* Set the desired color for the trash icon */
  //margin-left: 10px; /* Add desired spacing between interval and trash icon */
  flex-shrink: 0;
  /* Prevent icon from shrinking */
  width: 26px;
  height: 26px;
}

ion-select{
  //color:black
}
mat-form-field {
  display: block !important;
}

mat-hint.mat-mdc-form-field-hint.pl5 {
  padding-left: 0 !important;
}

::ng-deep .special-action {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0; // Adjust as necessary
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .special-action mat-icon {
  margin-right: 5px; // Adjust as necessary
}

::ng-deep .mat-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .no-checkbox.mat-option .mat-pseudo-checkbox {
  display: none;
}

.flex-container {
  display: flex;
  align-items: center;
}

.form-field {
  flex-grow: 1;
  margin-right:16px !important;
}

.mat-mdc-select-value{
  color:red !important
}

.mat-mdc-select-trigger{
  color:red !important;
}

.fontColor{
  color:red !important;
}

.special-action{
  background: var(--ion-color-dark-contrast) !important;
  color: var(--ion-color-dark) !important;
}

.mat-mdc-option {
  background: var(--ion-color-dark-contrast) !important;
}

.mat-mdc-select-value-text {
  color:red !important;
}

.mat-mdc-select-value{
  color:red !important;

}

.mat-mdc-select-trigger{
  color:red !important;

}

.mat-mdc-select {
  color:red !important;

}

.mat-mdc-select-min-line{
  color:red !important;
}

#mat-select-value-1{
  color:red !important;

}

.not-empty-select.mat-selected {
  color: green !important;
}

.not-empty-select.mat-selected {
  color: green !important;
}

:host  .mat-select-value-text {
  color: green !important;
}

::ng-deep .mat-select-value{    
  color: green!important;  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: red;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: red;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color: red;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: red;
}